:root {
  --thm-font: "Inter", sans-serif;
  --heading-font: "Inter", sans-serif;
  --special-font: "Handlee", cursive;
  --thm-color: #6e7673;
  --thm-color-rgb: 110, 118, 115;
  --thm-base: #8B2427;
  --thm-base-rgb: 139, 36, 396;
  --thm-primary: #efb443;
  --thm-primary-rgb: 247, 195, 95;
  --thm-secondary: #ed4b4b;
  --thm-secondary-rgb: 237, 75, 75;
  --thm-special: #5366c2;
  --thm-special-rgb: 83, 102, 194;
  --thm-black: #8B2427;
  --thm-black-rgb: 139, 36, 39;
  --thm-black2: #1d1c1c;
  --thm-black2-rgb: 29, 28, 28;
  --thm-text-dark: #8e96a0;
  --thm-text-dark-rgb: 142, 150, 160;
}

body {
  font-family: $thm-font;
  color: $thm-color;
  font-size: $body-size;
  line-height: $body-line-height;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $thm-black;

  br {
    @media (max-width: 575px) {
      display: none;
    }
  }
}

p {
  br {
    @media (max-width: 575px) {
      display: none;
    }
  }
}

::placeholder {
  color: inherit;
  opacity: 1;
}
.background-base {
  background-color: $thm-base;
}
.background-primary {
  background-color: $thm-primary;
}

.background-secondary {
  background-color: $thm-secondary;
}

.background-special {
  background-color: $thm-special;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.thm-btn {
  @include thmBtn;
}

.gray-boxed-wrapper {
  background-color: #f6f5f2;
  border-radius: $border-radius;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: relative;
  z-index: 10;
  @include tablet {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  @include large-tablet {
    max-width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include laptop {
    max-width: 1300px;
  }
  @include large-laptop {
    max-width: 1600px;
  }

  &.home-one__boxed {
    margin-top: -60px;
    @include large-tablet {
      margin-top: -205px;
    }
  }
}

.block-text {
  font-size: 15px;
  line-height: 2.125;
  color: $thm-color;
  margin-bottom: 0;
  font-weight: 500;
  @include large-tablet {
    font-size: 16px;
  }
}

.block-title {
  margin-bottom: 30px;
  @include laptop {
    margin-bottom: 60px;
    
  }
  &__image {
    background-image: url(../images/loader.png);
    background-size: 100%;
    width: 24px;
    height: 25px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &.text-center &__image {
    margin-left: auto;
    margin-right: auto;
  }
  p {
    margin: 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    color: #6e7673;
    letter-spacing: 0.2em;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 10px;
    @include large-laptop {
      font-size: 14px;
    }
  }
  h3 {
    margin: 0;
    font-size: 38px;
    font-weight: bold;
    color: #8B2427;
    @include large-laptop {
      font-size: 46px;
    }
  }
}

.block-title_team {
  margin-bottom: 10px;
  @include laptop {
    margin-bottom:10px;
  }
  &__image {
    background-image: url(../images/loader.png);
    background-size: 100%;
    width: 15px;
    height: 5px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &.text-center &__image {
    margin-left: auto;
    margin-right: auto;
  }
  h3 {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: #6e7673;
    letter-spacing: 0.1em;
    line-height: 1,5;
    margin-top: 45px;
    margin-bottom: 20px;
    @include large-laptop {
      font-size: 20px;
    }
  }
  p {
    margin-top: 40px;
    margin-bottom: 40px;
    
    font-size: 25px;
    color: #6e7673;
    
    @include large-laptop {
      font-size: 35px;
    }
  }
  h2 {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    color: #6e7673;
    
    text-transform: uppercase;
    @include large-laptop {
      font-size: 35px;
    }
  }
  h4{
    margin-top: 40px;
    margin-bottom: 40px;
    
    font-size: 20px;
    color: #6e7673;
    
    @include large-laptop {
      font-size: 20px;

  }
}}

.ul-list-one {
  margin-bottom: 0;

  li {
    position: relative;
    padding-left: 45px;
    font-size: $body-size;
    font-weight: 500;
    color: $thm-black;

    @media (min-width: 481px) {
      font-size: $heading-size;
    }

    &::before {
      content: "\e907";
      color: $thm-secondary;
      font-size: 26px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-family: "azino-icon";
    }
  }
}

.preloader {
  position: fixed;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9991;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;

  &__image {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}

/* scroll to top */
.scroll-to-top {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: $thm-primary;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: none;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.scroll-to-top i {
  color: #ffffff;
  font-size: 18px;
  line-height: 45px;
}

.scroll-to-top:hover {
  background-color: $thm-black;
}

.scroll-to-top:hover i {
  color: #fff;
}

/* post paginations */

.post-pagination {
  margin-bottom: 0;
  margin-top: 0px;
  @media (min-width: 992px) {
    margin-top: 0px;
  }
  a {
    display: flex;
    width: 45px;
    height: 45px;
    background-color: #eff2f6;
    align-items: center;
    justify-content: center;
    color: $thm-color;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50%;
    transition: 500ms ease;
    @media (min-width: 992px) {
      width: 60px;
      height: 60px;
      font-size: 18px;
    }
    &:hover {
      background-color: $thm-primary;
      color: #fff;
    }
  }
  li:first-child a {
    background-color: $thm-base;
    color: #fff;
  }
  li:last-child a {
    background-color: $thm-black;
    color: #fff;
  }
  li + li {
    margin-left: 10px;
  }
}

.quote_text {
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: #fff5c7;
  border-radius: 5px;
  padding: 30px;
  text-align: right;
}

.gallery-item {
  width: 300px;
  padding: 5px;
}

.nav-link {
  color: $thm-base;
}

/********* Team #6 Style **********/
/**********************************/
.team-6 {
  margin-bottom: 0px;
}

.team-6 .team-img {
  position: relative;
  font-size: 0;
  text-align: center;
  border-radius: 100%;
  margin-bottom: 30px;
  overflow: hidden;
}

.team-6 .team-img img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  border: 15px solid #f3f4fa;
  transition: all .3s;
}

.team-6:hover .team-img img {
  border: 0px solid #f3f4fa;
}

.team-6 .team-content {
  text-align: center;
}

.team-6 .team-content h2 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.team-6 .team-content h3 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom:30px;
}

.team-6 .team-social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
}

.team-6 .team-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  padding: 12px 0 10px 0;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  border-radius: 100%;
  transition: all .3s;
}

.team-6 .team-social a.social-tw {
  background: #00acee;
}

.team-6 .team-social a.social-fb {
  background: #3b5998;
}

.team-6 .team-social a.social-li {
  background: #0e76a8;
}

.team-6 .team-social a.social-in {
  background: #3f729b;
}

.team-6 .team-social a.social-yt {
  background: #c4302b;
}

.team-6 .team-social a:last-child {
  margin-right: 0; 
}

.team-6 .team-social a:hover {
  background: #222222;
}
.zeta {
  z-index: 11 !important;
}

.xilosafont-white h3 {
line-height: 1,5;
font-family: Xilosa !important;
color: #fff;
font-size: 70px !important;
font-weight: 700;
margin-top: 30px;
}

.xilosafont-bordo h3 {
  line-height: 1,5;
  font-family: Xilosa !important;
  color: #8B2427;
  font-size: 70px !important;
  font-weight: 700;
  margin-bottom: 70px;
} 


.btn-link {
  font-weight: 600 !important;
  color: #8b2427 !important;
  text-decoration: none !important;
  font-size: 24px;
}

.btn.focus, .btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.card-header-2 {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1pxsolidrgba(0,0,0,.125);
}

.accordion>.card {
  overflow: hidden;
  border-radius: 15px;
  border: none;
  box-shadow: 10px 10px 28px 2px rgba(0,0,0,0.11);
  -webkit-box-shadow: 10px 10px 28px 2px rgba(0,0,0,0.11);
  -moz-box-shadow: 10px 10px 28px 2px rgba(0,0,0,0.11);
}

.bg-yw {
  background: #fffcee !important;
}

.shama {
  border-top: 2px solid #f5f5f5;
}

.collapsed i {
  position: absolute;
  right: 50px;
}


img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {
   
     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      display:none;  
    }

    .image-gal {
      max-width: 100%;
      position:relative;
    }
    .thumb-galeria {
      position:relative;
  
    }

 
    .sem-margem-superior {
      margin-top:0px !important;
    }

    .botao-bordo {
      background-color: var(--thm-black) !important;
    }

    .texto-bordo {
      color:#8B2427 !important;
    }

    .texto-cinza{
      color:#8b8b8b !important;
    }

    .imagexclass img {
      max-width: 100%;
      position: relative;
      max-height: 100%;
  }
  
  .imagexclass {
      height: 400px;
      position: relative;
  }

  .backbook {
    width:100% !important;
    height:400px !important;
    background-position:center;
    background-size: cover;
  }

  .thumbnail-box {
    z-index: 80;
    width: 100%;
    height: 80%;
    margin-top: 10%;
    position: relative;
    min-height: 300px;
}

.backvid {
  width: 100% !important;
  height: 100% !important;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

  
  .backgallery {
    width:100% !important;
    height:300px !important;
    background-position:center;
    background-size: cover;
    position:relative;
  }
  
  


.book-card {
  background: #fff;
  border-radius: 15px;
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.14);
  -moz-box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.14);
  box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.14);
}

.desc-book {
  padding:15px;
  padding-top:30px;
}

.desc-book h3 a {
  color:#8b2427;
}

.bloco-master{
  padding-top:30px;
  padding-bottom: 200px; 
  // Gambiarra
}

.slider-fonte-bordo {
  color:#8b2427 !important;

}

.tagline-bordo {
  color:#8b2427 !important;

}

.contact-two__image :hover {
transform: scale(1.2);
transition: 0.6s;
border-radius:0px !important;
}

.contact-two__image :not(:hover) {
  transform: scale(1.0);
  transition: 0.6s;
  border-radius:0px !important;
  }

  .quote-card {
    background: #fff;
    color: #222222;
    padding: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    
    position: relative;
    
    min-height: 120px;
  }
  .quote-card p {
    font-size: 25px;
    font-weight: 800;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
  }
  .quote-card cite {
    font-size: 25px;
    margin-top: 10px;
    display: block;
    font-weight: 200;
    opacity: 0.8;
  }
  .quote-card:before {
    font-family: Georgia, serif;
    content: "“";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 5em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
  }
  .quote-card:after {
    font-family: Georgia, serif;
    content: "”";
    position: absolute;
    bottom: -110px;
    line-height: 100px;
    right: -32px;
    font-size: 25em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
  }
  @media (max-width: 640px) {
    .quote-card:after {
      font-size: 22em;
      right: -25px;
    }
  }
  .quote-card.blue-card {
    background: #0078FF;
    color: #ffffff;
    box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
  }
  .quote-card.blue-card:before, .quote-card.blue-card:after {
    color: #5FAAFF;
  }
  .quote-card.green-card {
    background: #00970B;
    color: #ffffff;
    box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
  }
  .quote-card.green-card:before, .quote-card.green-card:after {
    color:#59E063 ;
  }
  
  .quote-card.red-card {
    background: #F61E32;
    color: #ffffff;
    box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
  }
  .quote-card.red-card:before, .quote-card.red-card:after {
    color:#F65665 ;
  }
  
  .quote-card.yellow-card {
    background: #ffffff00;
    color: #222222;
    
  }
  .quote-card.yellow-card:before, .quote-card.yellow-card:after {
    color: #8B2427;
  }

  .bloco {
    padding-left:25px;
    padding-right:25px;
  }

  .bloco-master {
    
  }

  .backblog {
    background-color:$thm-black;
  }

  
@media (max-width: 1400px) and (min-width: 720px) and (orientation: landscape) { 
  // @viewport{
  //   zoom: 0.67;
  //   width: device-width;
  // }
  html {
    zoom: 0.8;
  }

}

  
@media (max-width: 720px) and (orientation: portrait) { 
  .main-slider {
    height: 80vh !important;
  }

  .main-slider .swiper-slide .container {
    padding-top: 110px;
    padding-bottom: 110px;
    height: 80vh;
  }

  .main-slider .swiper-slide .thm-btn {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0px;
    left: 0px;
    width: 50%;
    bottom: -30vh;
    text-align: center;
  }

  .main-slider .swiper-slide h2 {
    font-size: 50px;
    text-align: center;
    font-size: 60px;
    margin-top: 10%;
  }

  .tagline-bordo {
    color: #8b2427 !important;
    text-align: center;
    margin: 5px !important;
    font-size: 18px !important;
  }

}


.icones-cab {
  transform: scale(0.8);
}

.video-img-small {
  transform:scale(0.8);
  
}

.about-one__images_2 img {
  max-width: 100% !important;
  margin-bottom: 10px;
}


.instagram-part {
  transform: scale(0.7);
}