.page-header {
  background-color: $thm-base;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 16px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-image: url(../images/shapes/ripped-paper-slider-2.png);
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    z-index: 9;
    @media (min-width: 1700px) {
      background-size: 100%;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    position: relative;
    z-index: 10;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    @media (max-width: 480px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    h2 {
      margin: 0;
      line-height: 1;
      font-family: Xilosa, sans-serif;
      color: #fff;
      font-size: 70px;
      font-weight: 700;
      margin-top: 30px;
      @media (max-width: 480px) {
        font-size: 36px;
      }
    }
  }
}

.thm-breadcrumb {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  li {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 13px;
    color: #fff;
    line-height: 1;
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    a {
      opacity: 0.7;
      color: inherit;
    }

    span {
      display: block;
      line-height: 1;
    }
  }
}

.header-cinza-after::after {
    content: "";
    width: 100%;
    height: 16px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-image: url(../images/shapes/borda_cinza.png);
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    z-index: 9;
    @media (min-width: 1700px) {
      background-size: 100%;
    }
  }

