.main-slider {
  overflow: hidden;
  position: relative;
  height: 90vh;
  .swiper-slide {
    position: relative;
    
    .image-layer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      transform: scale(1);
      background-position: center;
      transition: transform 7000ms ease;
    }
    .container {
      padding-top: 162.5px;
      padding-bottom: 182.5px;
      @media (max-width: 991px) {
        padding-top: 130px;
        padding-bottom: 130px;
      }
      @media (max-width: 425px) {
        padding-top: 110px;
        padding-bottom: 110px;
      }
    }

    .tagline {
      display: block;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      color: rgba(255, 255, 255, 1);
      margin-bottom: 30px;
      opacity: 0;
      transform: translateY(-120px);
      transition-delay: 0;
      transition: transform 2000ms ease, opacity 2000ms ease;
      @media (max-width: 575px) {
        font-size: 14px;
      }
    }
    h2 {
      margin: 0;
      color: #fff;
      font-family: Xilosa;
      font-size: 100px;
      line-height: 1.1;
      margin-top: 15px;
      font-weight: 700;
      opacity: 0;
      visibility: hidden;
      transform: translateY(110px);
      transition-delay: 1000ms;
      transition: transform 2000ms ease, opacity 2000ms ease;
      br {
        display: inherit !important;
      }
      span {
        position: relative;
        &::before {
          content: "";
          width: 108px;
          height: 101px;
          background-image: url(../images/shapes/banner-1-shape-1.png);
          background-repeat: no-repeat;
          position: absolute;
          top: -10px;
          right: -70px;
          @media (max-width: 575px) {
            background-size: 100%;
            width: 70px;
            height: 70px;
            right: -50px;
          }
        }
      }
      @media (max-width: 1199px) {
        font-size: 70px;
      }
      @media (max-width: 767px) {
        font-size: 60px;
      }
      @media (max-width: 425px) {
        font-size: 50px;
      }
      @media (max-width: 375px) {
        font-size: 40px;
        line-height: 1.3;
      }
    }
    p {
      margin: 0;
      font-size: 18px;
      line-height: 1.78;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 40px;
      margin-top: 25px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(110px);
      transition-delay: 1000ms;
      transition: transform 2000ms ease, opacity 2000ms ease;
      @media (max-width: 768px) {
        max-width: 440px;
      }
      @media (max-width: 575px) {
        font-size: 15px;
      }
    }
    .thm-btn {
      background-color: $thm-primary;
      opacity: 0;
      transform: translateY(100px);
      transition-delay: 2500ms;
      transition: transform 2000ms ease, opacity 2000ms ease, color 500ms ease,
        background 500ms ease;
      &:hover {
        background-color: #fff;
        color: $thm-primary;
      }
    }
    &-active {
      .image-layer {
        transform: scale(1.15);
      }
      .thm-btn,
      h2,
      .tagline,
      p {
        visibility: visible;
        opacity: 1;
        transform: translateY(0) translateX(0);
      }
    }
  }
}

.main-slider__nav {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  @media (max-width: 425px) {
    display: none;
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    z-index: 100;
    width: 63px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #8B2427;
    border: 2px solid #8B2427;
    border-radius: 50%;
    opacity: 0.8;
    margin: 0;
    text-align: center;
    transition: all 500ms ease;
    @media (max-width: 991px) {
      width: 48px;
      height: 48px;
      font-size: 18px;
    }
    &:hover {
      opacity: 0.5;
    }
    &::after {
      display: none;
    }
  }
  .swiper-button-prev {
    margin-bottom: 10px;
    @media (max-width: 991px) {
      margin-top: 10px;
    }
  }
}

.main-slider__two {
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../images/shapes/ripped-paper-slider-2.png);
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    z-index: 9;
    @media (min-width: 1700px) {
      background-size: 100%;
    }
  }
  .swiper-slide {
    .image-layer {
      background-position: bottom center;
    }
    .container {
      padding-top: 347px;
      padding-bottom: 190px;
      @media (max-width: 991px) {
        padding-top: 130px;
        padding-bottom: 130px;
      }
      @media (max-width: 425px) {
        padding-top: 110px;
        padding-bottom: 110px;
      }
    }
    h2 {
      max-width: 187px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      @include medium-mobile {
        max-width: 245px;
      }
      @include tablet {
        max-width: 360px;
      }
      @include large-tablet {
        max-width: 485px;
      }
      @include laptop {
        max-width: 710px;
      }
      &::after,
      &::before {
        width: 87px;
        height: 143px;
        background-repeat: no-repeat;
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        background-image: url(../images/icons/main-slider-icon-2-1.png);
        right: 100%;
      }
      &::after {
        background-image: url(../images/icons/main-slider-icon-2-2.png);
        left: 100%;
      }
    }
    .thm-btn {
      margin-top: 35px;
    }
  }
  .main-slider__nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include laptop {
      max-width: 1326px;
    }
  }
}

[class*="main-slider__line-"] {
  position: absolute;
  width: 1px;
  height: calc(100% - 139px);
  bottom: 0;
  background-color: #fff;
  z-index: 10;
  opacity: 0.05;
}

.main-slider__line-1 {
  left: 12%;
}

.main-slider__line-2 {
  left: (16.667 * 2) * 1%;
}

.main-slider__line-3 {
  left: (16.667 * 3) * 1%;
}

.main-slider__line-4 {
  left: (16.667 * 4) * 1%;
}

.main-slider__line-5 {
  left: 88 * 1%;
}

.main-slider__line-6 {
  left: (16.667 * 6) * 1%;
}

.fundo-bom {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}
