
@import url("../../fonts/xilosa_.woff");

$thm-font: var(--thm-font);
$heading-font: var(--heading-font);
$special-font: var(--special-font);
$xilo-font: 'Xilosa', sans-serif;

$body-size: 16px;
$letter-space: -.04em;
$body-line-height: 2.125;
$heading-size: 20px;
$heading-size2: 36px;
$heading-size3: 46px;
$heading-size4: 100px;



