.team-one {
  background-color: #f6f5f2;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  @include laptop {
    padding-top: 120px;
    padding-bottom: 160px;
  }
  &::after {
    content: "";
    width: 100%;
    height: 16px;
    background-image: url(../images/shapes/ripped-paper-white-up.png);
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 10;
    transform: rotate(180deg);
    background-size: auto;
    background-repeat: no-repeat;
    @media (min-width: 1700px) {
      background-size: 100%;
      bottom: 0;
    }
  }
  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .container {
    position: relative;
  }

  &__content {
    @include large-tablet {
      text-align: center;
    }
    @include laptop {
      text-align: left;
    }
    .block-title__image {
      @include large-tablet {
        margin-left: auto;
        margin-right: auto;
      }
      @include laptop {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .team-one__nav {
      display: none;
      @include laptop {
        display: flex;
        margin-top: 40px;
      }

      .swiper-button-next,
      .swiper-button-prev {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        z-index: 100;
        width: 63px;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #255946;
        border: 2px solid #255946;
        border-radius: 50%;
        opacity: 0.3;
        margin: 0;
        transition: all 500ms ease;
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        @media (max-width: 991px) {
          width: 48px;
          height: 48px;
          font-size: 18px;
        }
        &:hover {
          opacity: 1;
        }
        &::after {
          display: none;
        }
      }
      .swiper-button-prev {
        margin-bottom: 10px;
        margin-right: 10px;
        @media (max-width: 991px) {
          margin-top: 10px;
        }
      }
    }
  }

  &__summery {
    @include large-tablet {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
    @include laptop {
      max-width: 440px;
      margin-left: 0;
      margin-right: 0;
      margin-top: -20px;
    }
    p {
      margin: 0;
    }
  }
}

.team-card {
  text-align: center;
  &__image {
    position: relative;
    overflow: hidden;
    border-radius: $border-radius;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        0deg,
        rgba(37, 90, 71, 1) 0%,
        rgba(37, 90, 71, 0) 60%
      );
      opacity: 0;
      transition: all 500ms ease;
    }
    > img {
      width: 100%;
    }
  }
  &:hover &__image::before {
    opacity: 1;
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    z-index: 10;
    opacity: 0;
    transition: all 500ms ease;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 50%;
      background-color: #fff;
      width: 40px;
      height: 40px;
      color: $thm-black;
      font-size: 14px;
      transition: all 500ms ease;
      &:hover {
        background-color: $thm-primary;
        color: #fff;
      }
      @include large-laptop {
        width: 50px;
        height: 50px;
        font-size: 15px;
      }
      + a {
        margin-left: 10px;
      }
    }
  }
  &:hover &__social {
    opacity: 1;
  }
  h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: $thm-black;
    line-height: 1;
    margin-top: 30px;
    margin-bottom: 10px;
    @include large-tablet {
      font-size: 20px;
    }
  }
  p {
    margin: 0;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: #6e7673;
  }
}

.team-one__carousel-wrap {
  margin-top: 40px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  @include laptop {
    padding-left: 0;
    padding-right: 0;
    max-width: 750px;
    position: absolute;
    top: 120px;
    right: 20px;
    margin-top: 0;
  }
  @media (min-width: 1400px) {
    max-width: 800px;
    right: 40px;
  }
  @media (min-width: 1600px) {
    max-width: 900px;
  }
  @media (min-width: 1700px) {
    max-width: 960px;
    right: 70px;
  }
}
