{% extends "nav.html" %}
{% load static %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<section class="page-header">
    <div class="page-header__bg" ></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="#">Home</a></li>
            <li>/</li>
            <li><span>Blog</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>{{page.title}}</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->


<section class="blog-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details__image">
                    {% image page.main_image original as main_image  %}
                        
                            <div class="backgallery backblog" style="background-image:url('{{ main_image.url }}');">
                            </div>
                </div><!-- /.blog-details__image -->
                <div class="blog-card__content">
                    <div class="blog-card__date">{{page.date|date:'d M'}}</div><!-- /.blog-card__date -->
                    <div class="blog-card__meta">
                        <a href="blog-details.html"><i class="far fa-user-circle"></i> por Admin</a>
                        
                    </div><!-- /.blog-card__meta -->
                    <h3><a href="blog-details.html">{{page.title}}</a></h3>
                </div><!-- /.blog-card__content -->
                <div class="blog-details__content">
                    {{page.body|safe}}
                </div><!-- /.blog-details__content -->

                <div class="blog-details__meta">
                    <div class="blog-details__tags">
                        <span>Tags:</span>
                        <a href="#">Agriculture,</a>
                        <a href="#">Food,</a>
                        <a href="#">Economy</a>
                    </div><!-- /.blog-details__tags -->
                    <div class="blog-details__social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div><!-- /.blog-details__social -->
                </div><!-- /.blog-details__meta -->

                <div class="blog-author">
                    <div class="blog-author__image">
                        <img src="assets/images/blog/blog-author-1-1.jpg" alt="">
                    </div><!-- /.blog-author__image -->
                    <div class="blog-author__content">
                        <h3>Kevin Martin</h3>
                        <p>It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining unchanged. It was popularised in the sheets containing.</p>
                    </div><!-- /.blog-author__content -->
                </div><!-- /.blog-author -->

               
            </div><!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="blog-sidebar">
                    
                    <div class="blog-sidebar__posts">
                        <h3>Posts recentes</h3>
                        <ul>

                            {% for page in page.relacionados %}
                            
                            <li>
                                <img src="{% static 'assets/images/blog/blog-s-1-1.jpg' %}" alt="">
                                
                                <h4><a href="{% pageurl page %}">{{page.title}}</a></h4>
                            </li>

                            {% endfor %}
                            
                        </ul>
                    </div><!-- /.blog-sidebar__posts -->
                    {% if page.categories.count %}
                    <div class="blog-sidebar__categories">
                        <h3>Categorias</h3>
                        <ul>
                            {% for cat in page.categories.all %}
                            <li>
                                <a href="{{ self.get_parent.url }}?categories={{ cat.name }}"><i class="agrikon-icon-right-arrow"></i>{{cat}}
                                </a>
                            </li>
                            {% endfor%}
                           
                        </ul>
                    </div><!-- /.blog-sidebar__categories -->
                    {% endif %}


                    {% if page.tags.count %}
                    <div class="blog-sidebar__tags">
                        <h3>Tags</h3>
                        <div class="blog-sidebar__tags-links">
                            {% for tag in page.tags.all %}
                            <a href="{{ self.get_parent.url }}?tag={{ tag.slug }}">{{ tag }},</a>
                            
                            {% endfor %}
                        </div><!-- /.blog-sidebar__tags-links -->
                    </div><!-- /.blog-sidebar__tags -->
                    
                    {% endif %}
                </div><!-- /.blog-sidebar -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog-details -->

{% endblock %}


    <!-- <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    <div class="intro">{{ page.intro }}</div>

    {{ page.body|richtext }}

    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p> -->
