{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-galeria-unica{% endblock %}

{% block content %}

<!--Conteúdo aqui Sem menu e sem footer-->
<!-- Corrigir os Statics (Links)-->

<section class="page-header">
    <div class="page-header__bg"
        style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg-1-1.jpg' %}');">
    </div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Galerias de Fotos</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>{{page.title}}</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->


<div class="projects-one">
    <div class="container">
        <!-- <div class="gallery-items">
            {% for item in page.gallery_images.all %}
            <div class="single image">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
            {% endfor %}
        </div> -->

        <div class="row">

            {% for item in page.gallery_images.all %}
            {% image item.image original as original_photo %}
            <div class="col-lg-4 col-md-4 col-xs-12 thumb-galeria">
                <img src="{{ original_photo.url }}" data-action="zoom" class="image-gal m-3" style="border-radius:9px;">
                <!-- <a href="{{ original_photo.url }}" class="fancybox" rel="ligthbox">
                    {% image item.image fill-320x240 class="zoom img-fluid"  %}

                   
                </a> -->
            </div>
            {% endfor %}
            
           
           
       </div>






        
    </div> <!--END container-->

</div> <!-- END projects-one -->


{% endblock %}