{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-galerias_index{% endblock %}

{% block content %}
<section class="page-header">
    <div class="page-header__bg" style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg-1-1.jpg' %}');"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            
            
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>{{page.title}}</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->
<section class="blog-grid">
    <div class="container">
        <div class="row">

            {% for post in page.get_children %}
            {% with post=post.specific %}

                <div class="col-md-6 col-lg-6">
                    <div class="blog-card">
                        <div class="blog-card__image">
                            <!-- {% with post.main_image as main_image %}
                            {% if main_image %}{% image main_image original %}{% endif %}
                        {% endwith %} -->

                        {% image post.main_image original as main_image  %}
                        
                        <div class="backgallery" style="background-image:url('{{ main_image.url }}');">
                        </div>
                            <a href="{% pageurl post %}"></a>
                        </div><!-- /.blog-card__image -->
                        <div class="blog-card__content">
                            
                            <div class="blog-card__meta">
                                
                                <!-- <a href="{% pageurl post %}"><i class="far fa-comments"></i> 2 Commentários</a> -->
                            </div><!-- /.blog-card__meta -->
                            <h3><a href="{% pageurl post %}">{{ post.title }}</a></h3>
                            <div class="resumo">
                                <p>
                                    {{ post.specific.intro }}
                                </p>
                            </div>

                            
                        </div><!-- /.blog-card__content -->
                    </div><!-- /.blog-card -->
                </div><!-- /.col-md-6 col-lg-4 -->
                {% endwith %}
            {% endfor %}
        </div><!-- /.row -->
        
    </div><!-- /.container -->
</section><!-- /.blog-grid -->

    <!-- <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% for post in page.get_children %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
        {{ post.specific.intro }}
        {{ post.specific.body|richtext }}
    {% endfor %} -->

{% endblock %}