{% extends "nav.html" %}
{% load static %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}



<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->

<section class="main-slider">
    <div class="fundo-bom" style="background-image: url('{% static 'assets/images/main-slider/main-slider-1-1.jpg' %}');"></div>
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{
"slidesPerView": 1,
"loop": true,
"effect": "fade",
"autoplay": {
    "delay": 5000
},
"navigation": {
    "nextEl": "#main-slider__swiper-button-next",
    "prevEl": "#main-slider__swiper-button-prev"
}
}'>
        <div class="swiper-wrapper">
            
            <div class="swiper-slide">
                
                
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7">
                            <span class="tagline tagline-bordo">Sejam bem-vindos!</span>
                            <h2 class="slider-fonte-bordo"><span>Agentes</span> <br>
                                do Campo</h2>
                            <!-- /.thm-btn dynamic-radius -->
                        </div><!-- /.col-lg-7 text-right -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.swiper-slide -->
            <div class="swiper-slide">
                
                
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7">
                            <h2 class="slider-fonte-bordo"><span>Sobre nós</h2>
                            <p class="tagline-bordo">Começa quem somos</p>
                            <a href="/pagina/quem_somos" class=" thm-btn">Saiba mais</a>
                            <!-- /.thm-btn dynamic-radius -->
                        </div><!-- /.col-lg-7 text-right -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.swiper-slide -->
            <div class="swiper-slide">
                
                
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7">
                            <span class="tagline"> </span>
                            <h2 class="slider-fonte-bordo">Últimas<span> Notícias</span></h2>
                            <p class="tagline-bordo">Confira nossas últimas notícias</p>
                            <a href="/posts" class=" thm-btn">Saiba mais</a>
                            <!-- /.thm-btn dynamic-radius -->
                        </div><!-- /.col-lg-7 text-right -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.swiper-slide -->
            <div class="swiper-slide">
                
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7">
                            
                            <h2 class="slider-fonte-bordo"><span>Formação</span><br>
                                </h2>
                            <p class="tagline-bordo">Conheça nosso Método de Formação</p>
                            <a href="/pagina/formacao" class=" thm-btn">Saiba mais</a>
                            <!-- /.thm-btn dynamic-radius -->
                        </div><!-- /.col-lg-7 text-right -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.swiper-slide -->
        </div><!-- /.swiper-wrapper -->

        <!-- If we need navigation buttons -->
        <div class="main-slider__nav">
            <div class="swiper-button-prev" id="main-slider__swiper-button-next"><i class="agrikon-icon-left-arrow"></i>
            </div>
            <div class="swiper-button-next" id="main-slider__swiper-button-prev"><i class="agrikon-icon-right-arrow"></i></div>
        </div><!-- /.main-slider__nav -->

    </div><!-- /.swiper-container thm-swiper__slider -->
</section><!-- /.main-slider -->



<section class="service-one y-w-after">
    <div class="container">
        <div class="row icones-cab">
            
            <div class="col-md-12 col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                <div class="service-one__box">
                    <img src="{% static 'assets/images/services/service-1-1.jpg' %}" alt="">
                    <div class="service-one__box-content">
                        <h3><a href="/pagina/biblioteca">Biblioteca</a></h3>
                    </div><!-- /.service-one__box-content -->
                </div><!-- /.service-one__box -->
            </div><!-- /.col-md-12 col-lg-4 -->
            <div class="col-md-12 col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                <div class="service-one__box">
                    <img src="{% static 'assets/images/services/service-1-2.jpg' %}"" alt="">
                    <div class="service-one__box-content">
                        <h3><a href="/pagina/formacao">Formação</a></h3>
                    </div><!-- /.service-one__box-content -->
                </div><!-- /.service-one__box -->
            </div><!-- /.col-md-12 col-lg-4 -->
            <div class="col-md-12 col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                <div class="service-one__box">
                    <img src="{% static 'assets/images/services/service-1-3.jpg' %}" alt="">
                    <div class="service-one__box-content">
                        <h3><a href="/pagina/sistema">Sistema APSC</a></h3>
                    </div><!-- /.service-one__box-content -->
                </div><!-- /.service-one__box -->
            </div><!-- /.col-md-12 col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.service-one -->

<section class="about-one">
  
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-one__images_2">
                    <img src="{% static 'assets/images/resources/about-1-4.png' %}" alt="">
                   
                    
                </div><!-- /.about-one__images -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="bloco">
                    <div class="xilosafont-bordo text-left">
                        <h3>Quem somos?</h3>
                    </div><!-- /.block-title -->
                    
                    <div class="about-one__summery">
                        <p>De forma inédita, a sociedade atravessou o período da emergência da pandemia sem a articulação do poder 
                            público federal que obrigou os estados e a sociedade civil organizada (e não) a tomarem a dianteira de medidas que 
                            promovessem a saúde nos territórios. Neste cenário as populações historicamente negligenciadas e 
                            mais vulnerabilizadas foram as mais afetadas, como as do Campo. </p>
                    </div><!-- /.about-one__summery -->
                    <div class="about-one__icon-row">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="about-one__box">
                                    <i class="agrikon-icon-farmer"></i>
                                    <h4><a href="/pagina/onde_estamos">Onde Estamos?</a></h4>
                                </div><!-- /.about-one__box -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="about-one__box">
                                    <i class="agrikon-icon-agriculture"></i>
                                    <h4><a href="/pagina/equipe">Equipe</a></h4>
                                </div><!-- /.about-one__box -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.about-one__icon-row -->
                    <a href="/pagina/quem_somos" class="thm-btn">Saiba mais</a><!-- /.thm-btn -->
                </div><!-- /.about-one__content -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.about-one -->

<section class="video-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="thumbnail-box">
                    
                    <div class="backvid" style="background-image:url({% static 'assets/images/resources/video-1-2.jpg' %});">

                    </div>
                    <a href="https://www.youtube.com/watch?v=we9VO48_oVs" class="video-popup"><i class="fa fa-play"></i></a><!-- /.video-popup -->
                </div>

                
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="video-one__content">
                    <div class="block-title">
                      <h3>Documentário Vigilância Popular do Campo/CE</h3>
                      <p>Confira o trailer do nosso documentário</p>
                    </div><!-- /.block-title -->
                    <div class="video-one__summery">
                        <p> Trailer do documentário produzido pelos médicos Ana Paula Dias de Sá e Fernando Paixão no âmbito do Mestrado Profissional em Políticas Públicas em Saúde – 
                            Turma Ceará, da Escola de Governo Fiocruz – Brasília.  O filme retrata a experiência do curso de Agentes Populares de Saúde do Campo no Ceará. </p>

                    </div><!-- /.video-one__summery -->
                    
                    <div class="video-one__count-wrap">
                
                    </div><!-- /.video-one__count-wrap -->
                </div><!-- /.video-one__content -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.video-one -->



<div class="projects-one project-one__home-one">
    <div class="container pt-4">
        <div class="xilosafont-bordo text-center mt-4">
            <h3>Conheça nossos Projetos</h3>
        </div><!-- /.block-title -->
        <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 0, "slidesPerView": 1, "loop": false, "slidesPerGroup": 1, "pagination": {
    "el": "#projects-one__swiper-pagination",
    "type": "bullets",
    "clickable": true
},
"breakpoints": {
    "0": {
        "spaceBetween": 0,
        "slidesPerView": 1,
        "slidesPerGroup": 1
    },
    "640": {
        "spaceBetween": 30,
        "slidesPerView": 3,
        "slidesPerGroup": 2
    },
    "992": {
        "spaceBetween": 30,
        "slidesPerView": 3,
        "slidesPerGroup": 2
    }
}}'>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="projects-one__single">
                        <img src="{% static 'assets/images/projects/project-2-1.jpg' %}" alt="">
                        <div class="projects-one__content">
                            <h3>Ceará</h3>
                            <a href="/pagina/onde_estamos_ceara" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                        </div><!-- /.projects-one__content -->
                    </div><!-- /.projects-one__single -->
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <div class="projects-one__single">
                        <img src="{% static 'assets/images/projects/project-2-3.jpg' %}" alt="">
                        <div class="projects-one__content">
                            <h3>Brasília</h3>
                            <a href="/pagina/onde_estamos_brasilia" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                        </div><!-- /.projects-one__content -->
                    </div><!-- /.projects-one__single -->
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <div class="projects-one__single">
                        <img src="{% static 'assets/images/projects/project-2-2.jpg' %}" alt="">
                        <div class="projects-one__content">
                            <h3>Minas Gerais</h3>
                            <a href="/pagina/onde_estamos_minas" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                        </div><!-- /.projects-one__content -->
                    </div><!-- /.projects-one__single -->
                </div><!-- /.swiper-slide -->
                
            </div><!-- /.swiper-wrapper -->
            <div class="swiper-pagination" id="projects-one__swiper-pagination"></div>
        </div><!-- /.swiper-container -->
    </div><!-- /.container -->
</div><!-- /.projects-one -->

<section class="call-to-action__three jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% 50%">
    <img class="call-to-action__three__bg jarallax-img" src="{% static 'assets/images/backgrounds/cta-1-bg-1.jpg' %}" alt="parallax-image" />
    <div class="container">
        <div class="row">
           
            <div class="col-lg-12">
                <div class="xilosafont-white text-center">
                    <h3>Conheça nossa Equipe</h3>
                    <a href="/pagina/equipe" class="thm-btn botao-bordo">Ver mais</a><!-- /.thm-btn -->
                </div><!-- /.call-to-action__three-content -->
            </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.call-to-action__three -->

<section class="gray-boxed-wrapper home-one__boxed sem-margem-superior">
    <img src="{% static 'assets/images/icons/team-bg-1-1.png' %}" alt="" class="home-one__boxed-bg">
    <section class="blog-home-two blog-home-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="block-title">
                        
                        <p>Fique Ligado</p>
                        <div class="xilosafont-bordo text-center">
                            <h3>Últimas Notícias</h3>
                        </div>
                    </div><!-- /.block-title -->
                </div><!-- /.col-lg-6 -->
                
            </div><!-- /.row -->
            <div class="row">

                {% for post in blogs %}
    
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-card">
                            <div class="blog-card__image">
                                <img src="{% static 'assets/images/blog/blog-grid-1.jpg' %}" alt="Best Way to Do Eco and Agriculture">
                                <a href="{% pageurl post %}"></a>
                            </div><!-- /.blog-card__image -->
                            <div class="blog-card__content">
                                <div class="blog-card__date">{{post.specific.date|date:'d M'}}</div><!-- /.blog-card__date -->
                                <div class="blog-card__meta">
                                    <a href="{% pageurl post %}"><i class="far fa-user-circle"></i> por Admin</a>
                                    <!-- <a href="{% pageurl post %}"><i class="far fa-comments"></i> 2 Commentários</a> -->
                                </div><!-- /.blog-card__meta -->
                                <h3><a href="{% pageurl post %}">{{ post.title }}</a></h3>
                                <div class="resumo">
                                    <p>
                                        {{ post.specific.intro }}
                                    </p>
                                </div>
    
                                <a href="{% pageurl post %}" class="thm-btn">Ler mais</a><!-- /.thm-btn -->
                            </div><!-- /.blog-card__content -->
                        </div><!-- /.blog-card -->
                    </div><!-- /.col-md-6 col-lg-4 -->
                {% endfor %}
            </div><!-- /.row -->
            <hr />
        </div><!-- /.container -->
    </section><!-- /.blog-home-two -->
    
</section><!-- /.gray-boxed-wrapper -->

<div class="client-carousel client-carousel__has-border-top">
    
    <div class="container">
        <div class="xilosafont-bordo text-center">
            <h3>Parceiros</h3>
        </div><!-- /.block-title -->
        
        <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 140, "slidesPerView": 4, "autoplay": { "delay": 4000 }, "breakpoints": {
        "0": {
            "spaceBetween": 30,
            "slidesPerView": 2
        },
        "375": {
            "spaceBetween": 30,
            "slidesPerView": 2
        },
        "575": {
            "spaceBetween": 30,
            "slidesPerView": 3
        },
        "767": {
            "spaceBetween": 50,
            "slidesPerView": 4
        },
        "991": {
            "spaceBetween": 50,
            "slidesPerView": 4
        },
        "1199": {
            "spaceBetween": 100,
            "slidesPerView": 4
        }
    }}'>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="{% static 'assets/images/resources/logo1_fiocruz.logo.png' %}" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="{% static 'assets/images/resources/logo2_redenacional.logo.png' %}" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="{% static 'assets/images/resources/logo3_mst.logo.png' %}" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="{% static 'assets/images/resources/logo4_socialtec.logo.png' %}" alt="">
                </div><!-- /.swiper-slide -->
                
            </div><!-- /.swiper-wrapper -->
        </div><!-- /.thm-swiper__slider -->
    </div><!-- /.container -->
</div><!-- /.client-carousel -->

<section class="call-to-action__two jarallax" data-jarallax data-speed="0.4" data-imgPosition="50% 50%">
    
    <div class="container">
        <div class="instagram-part">
            <img src="{% static 'assets/images/services/insta_icon.png' %}" alt="">
            <h3>Siga-nos o Instagram</h3>
            <a href="https://instagram.com/agentespopularescampoce?igshid=ZmVmZTY5ZGE= " class="thm-btn">Acesse</a><!-- /.thm-btn -->
        </div>
        
    </div><!-- /.container -->
</section><!-- /.call-to-action__two -->

<section class="contact-two">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <div class="contact-two__content">
                    <div class="block-title2">
                        
                        <!-- <p>Entre em contato</p> -->
                        <div class="xilosafont-bordo">
                            <h3>Entre em contato</h3>
                        </div><!-- /.block-title -->
                    </div><!-- /.block-title -->
                    <div class="ss">
                        <p>Junte-se a nós! Mande-nos sugestões e mantenha-se informado sobre as novidades do nosso alcance.</p>
                    </div><!-- /.contact-two__summery -->
                </div><!-- /.contact-two__content -->
            </div><!-- /.col-sm-12 col-md-12 col-lg-12 col-xl-4 -->
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <form action="assets/inc/sendemail.php" class="contact-one__form contact-form-validated">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" name="name" placeholder="Nome Completo">
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                            <input type="text" name="email" placeholder="E-mail">
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                            <input type="text" name="phone" placeholder="Número de Tefone">
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                            <textarea name="message" placeholder="Escreva a Mensagem"></textarea>
                        </div><!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <button type="submit" class="thm-btn">Enviar</button><!-- /.thm-btn -->
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </form>
            </div><!-- /.col-sm-12 col-md-12 col-lg-12 col-xl-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.contact-two -->


{% endblock %}