{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template-livros_lib{% endblock %}

{% block content %}

<!--Conteúdo aqui Sem menu e sem footer-->
<!-- Corrigir os Statics (Links)-->

<section class="page-header">
    <div class="page-header__bg" style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg-1-9.jpg' %}');"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/pagina/home_page">Home</a></li>
            <li>/</li>
            <li><a href="/pagina/biblioteca">Biblioteca</a></li>
            <li>/</li>
            <li><span>Livro</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2><i class="fa-solid fa-book fa-2xs" ></i> Livros</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->



<section class="service-two__home-two">

    <div class="container">
        <div class="block-title text-center">
            
            <p>Acesse as obras que</p>
            <h3>Selecionamos para você</h3>
        </div><!-- /.block-title -->
        <div class="row">
            {% for post in page.get_children %}
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="book-card">
                    <div class="row">
                        <div class="col imagexclass">
                            {% image post.specific.imagex width-400 as tmp_photo %}
                            
                            <div class="backbook" style="background-image:url('{{ tmp_photo.url }}');">
    
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="desc-book">
                                <h3><a href="{{ post.specific.linklivro }}">{{ post.title }}</a></h3>
                            <p>{{ post.specific.intro }}</p>
                            </div>
                            
                        </div>

                    </div>
                    
                    
                    
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            {% endfor %}
        </div><!-- /.row -->
        
    </div><!-- /.container -->
</section><!-- /.service-two -->






<section class="call-to-action__two jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% 50%">
    <img class="call-to-action__two__bg jarallax-img" src="{% static 'assets/images/backgrounds/cta-2-bg-1.jpg' %}" alt="parallax-image" />
    <div class="container">
        <h3>Conheça nossa História</h3>
        <a href="pagina\quem_somos" class="thm-btn">Saber mais</a><!-- /.thm-btn -->
    </div><!-- /.container -->
</section><!-- /.call-to-action__two -->


{% endblock %}