{% extends "nav.html" %}
{% load static %}

{% load wagtailcore_tags %}

{% block body_class %}template-video_page{% endblock %}

{% block content %}

<section class="page-header">
    <div class="page-header__bg" ></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="#">Home</a></li>
            <li>/</li>
            <li><span>Video</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>{{page.title}}</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->




{% endblock %}

