{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template-videos_lib_page{% endblock %}

{% block content %}

<!--Conteúdo aqui Sem menu e sem footer-->
<!-- Corrigir os Statics (Links)-->

<section class="page-header">
    <div class="page-header__bg" style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg-1-8.jpg' %}');"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/pagina/home_page">Home</a></li>
            <li>/</li>
            <li><a href="/pagina/biblioteca">Biblioteca</a></li>
            <li>/</li>
            <li><span>Vídeos</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2><i class="fa-solid fa-film fa-2xs" ></i> Vídeos</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->



<section class="service-xxx service-two__service-page">
    <div class="container">
        <div class="feature-one__content">
            <div class="block-title">
                <p>Selecione um vídeo para reproduzir:</p>
            </div><!-- /.block-title -->
</section><!-- /.service-two -->

{% for post in page.get_children %}

<section class="{% cycle 'video-one' 'video-two' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 {% cycle 'order-1' 'order-2' %}">
                
                    <div class="thumbnail-box">
                        {% image post.specific.imagex original as tmp_photo %}
                        
                        <div class="backvid" style="background-image:url('{{ tmp_photo.url }}');">

                        </div>
                        <a href="https://www.youtube.com/v={{ post.specific.videoid }}" class="video-popup"><i class="fa fa-play"></i></a><!-- /.video-popup -->
                    </div>
                    

                    
                    
                    
                
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6 {% cycle 'order-2' 'order-1' %}">
                <div class="{% cycle 'video-one__content' 'video-two__content' %}">
                    <div class="block-title mt-4">
                      <h3>{{ post.title }}</h3>
                      <p>{{ post.specific.intro }}</p>
                    </div><!-- /.block-title -->
                    <div class=" {% cycle 'video-one__summery' 'video-two__summery' %}">
                        <p>{{ post.specific.body }}</p>

                    </div><!-- /.video-one__summery -->
                    
                    
                </div><!-- /.video-one__content -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.video-one -->



{% endfor %}




<section class="call-to-action__two jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% 50%">
    <img class="call-to-action__two__bg jarallax-img" src="{% static 'assets/images/backgrounds/cta-2-bg-1.jpg' %}" alt="parallax-image" />
    <div class="container">
        <h3>Conheça nossa História</h3>
        <a href="pagina/quem_somos" class="thm-btn">Saber mais</a><!-- /.thm-btn -->
    </div><!-- /.container -->
</section><!-- /.call-to-action__two -->

{% endblock %}