{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-quem-somos{% endblock %}

{% block content %}

<!--Conteúdo aqui Sem menu e sem footer-->
<!-- Corrigir os Statics (Links)-->

<section class="page-header">
    <div class="page-header__bg" style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg-1-5.jpg' %}');"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Biblioteca</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>Biblioteca</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->



<section class="service-two service-two__service-page">
    <div class="container">
        <div class="feature-one__summery">
            <p>Selecione uma modalidade do nosso acervo:</p>

                 
        </div><!-- /.feature-one__summery -->
        

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="{% static 'assets/images/services/service-2-1.jpg' %}" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <div class="service-two__card-icon">
                            <i class="fa-solid fa-book"></i>
                        </div><!-- /.service-two__card-icon -->
                        <h3><a href="/livros">Livros</a></h3>
                        <p>Acesse as obras que selecionamos para você</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="{% static 'assets/images/services/service-2-2.jpg' %}" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <div class="service-two__card-icon">
                            <i class="fa-solid fa-film"></i>
                        </div><!-- /.service-two__card-icon -->
                        <h3><a href="/videos">Vídeos</a></h3>
                        <p>Acesse os vídeos que selecionamos para você</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="{% static 'assets/images/services/service-2-3.jpg' %}" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <div class="service-two__card-icon">
                            <i class="fa-solid fa-file-lines"></i>
                        </div><!-- /.service-two__card-icon -->
                        <h3><a href="/textos">Textos</a></h3>
                        <p>Acesse as publicações que selecionamos para você</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            
           
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.service-two -->

<section class="call-to-action__two jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% 50%">
    <img class="call-to-action__two__bg jarallax-img" src="{% static 'assets/images/backgrounds/cta-2-bg-1.jpg' %}" alt="parallax-image" />
    <div class="container">
        <h3>Conheça nossa História</h3>
        <a href="/pagina/quem-somos" class="thm-btn">Saber mais</a><!-- /.thm-btn -->
    </div><!-- /.container -->
</section><!-- /.call-to-action__two -->

{% endblock %}