{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-quem-somos{% endblock %}

{% block content %}

<!--Conteúdo aqui Sem menu e sem footer-->
<!-- Corrigir os Statics (Links)-->

<section class="page-header">
    <div class="page-header__bg" style="background-image: url({% static 'assets/images/backgrounds/page-header-bg-1-1.jpg' %});"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Sistema APSC</span></li>
            <li>/</li>
            <li><span>Como Estamos?</span></li>  
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>Como estamos?</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="project-details">
    

    
    
    <div class="container">
        <div class="mb-4 pb-4">
            
            <p>O processo de implementação do Sistema Agentes Campo respeita a dinâmica de tempo e ritmo de cada Agente Popular de Saúde no respectivo território, 
                considerando as especificidades, número de Agentes, quantidade de famílias a serem visitadas e a extensão territorial.</p>
                <p>Aqui é possível acompanhar em tempo atual como anda o processo de implementação em cada território onde o sistema está em andamento.</p>
        </div>
        

        <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header-2" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Ceará 
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse show shama" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                </ul><!-- /.list-unstyled project-details__list -->
    
                <ul class="list-unstyled project-details__list  mt-4 bg-yw">
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'assets/images/flags/ceara-flag.png' %}" width="153" alt="">
                        </div>
                        <div class="col">
                            <div class="about-two__progress">
                                <div class="about-two__progress-box">
        
                                    
                                    <div class="circle-progress" data-options='{ "value": 0.40,"thickness": 6,"emptyFill": "#c1c0be","lineCap": "square", "size": 118, "fill": { "color": "#8B2427" } }'>
                                        <span>40%</span>
                                    </div><!-- /.circle-progress -->
                                </div><!-- /.about-two__progress-box -->
                                <div class="about-two__progress-content">
                                    <strong>Status da Formação</strong>
                                </div><!-- /.about-two__progress-content -->
                            </div><!-- /.about-two__progress -->
                        </div>
                        <div class="col">
                            <div class="about-two__progress">
                                <div class="about-two__progress-box">
        
                                    
                                    <div class="circle-progress" data-options='{ "value": 0.3,"thickness": 6,"emptyFill": "#c1c0be","lineCap": "square", "size": 118, "fill": { "color": "#8B2427" } }'>
                                        <span>30%</span>
                                    </div><!-- /.circle-progress -->
                                </div><!-- /.about-two__progress-box -->
                                <div class="about-two__progress-content">
                                    <strong>Status da Formação</strong>
                                </div><!-- /.about-two__progress-content -->
                            </div><!-- /.about-two__progress -->
                        </div>
                    </div>
                 
                    
                    
                </ul><!-- /.list-unstyled project-details__list -->
                    <ul class="list-unstyled project-details__list bg-yw">
                        <li>
                            <span>Data de Início
                            </span>
                            20 de agosto de 2022
                        </li>
                        <li>
                            <span>Agentes Formados:
                            </span>
                            55 Agentes
                        </li>
                        <li>
                            <span>Pessoas Benefíciadas:
                            </span>
                            80 Pessoas
                        </li>
                        <li>
                            <span>Etapa Atual:
                            </span>
                            Finalização de Cadastro
                        </li>
                        
                    
                    
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header-2" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Brasília
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse shama" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                </ul><!-- /.list-unstyled project-details__list -->
    
                <ul class="list-unstyled project-details__list  mt-4 bg-yw">
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'assets/images/flags/brasilia-flag.png' %}" width="153" alt="">
                        </div>
                        <div class="col">
                            <div class="about-two__progress">
                                <div class="about-two__progress-box">
        
                                    
                                    <div class="circle-progress" data-options='{ "value": 0.40,"thickness": 6,"emptyFill": "#c1c0be","lineCap": "square", "size": 118, "fill": { "color": "#8B2427" } }'>
                                        <span>40%</span>
                                    </div><!-- /.circle-progress -->
                                </div><!-- /.about-two__progress-box -->
                                <div class="about-two__progress-content">
                                    <strong>Status da Formação</strong>
                                </div><!-- /.about-two__progress-content -->
                            </div><!-- /.about-two__progress -->
                        </div>
                        <div class="col">
                            <div class="about-two__progress">
                                <div class="about-two__progress-box">
        
                                    
                                    <div class="circle-progress" data-options='{ "value": 0.3,"thickness": 6,"emptyFill": "#c1c0be","lineCap": "square", "size": 118, "fill": { "color": "#8B2427" } }'>
                                        <span>30%</span>
                                    </div><!-- /.circle-progress -->
                                </div><!-- /.about-two__progress-box -->
                                <div class="about-two__progress-content">
                                    <strong>Status da Formação</strong>
                                </div><!-- /.about-two__progress-content -->
                            </div><!-- /.about-two__progress -->
                        </div>
                    </div>
                 
                    
                    
                </ul><!-- /.list-unstyled project-details__list -->
                    <ul class="list-unstyled project-details__list bg-yw">
                        <li>
                            <span>Data de Início
                            </span>
                            20 de agosto de 2022
                        </li>
                        <li>
                            <span>Agentes Formados:
                            </span>
                            55 Agentes
                        </li>
                        <li>
                            <span>Pessoas Benefíciadas:
                            </span>
                            80 Pessoas
                        </li>
                        <li>
                            <span>Etapa Atual:
                            </span>
                            Finalização de Cadastro
                        </li>
                        
                    
                    
                </div>
              </div>
            </div>
            
          </div>
    
     

        


        
       </div>
       </section>

{% endblock %}