{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-quem-somos{% endblock %}

{% block content %}

<!--Conteúdo aqui Sem menu e sem footer-->
<!-- Corrigir os Statics (Links)-->

<section class="page-header">
    <div class="page-header__bg" style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg-1-1.jpg' %}');"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Sistema APSC</span></li>
            <li>/</li>
            <li><span>Contexto</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>Contexto</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->


<section class="service-one service-one__about">
    <div class="container">

        <div class="block-text__content p">
            <p>Para garantir o distanciamento social durante a pandemia da Covid-19, diversas medidas foram adotadas pela sociedade, indo do teletrabalho 
                às aulas remotas e compras realizadas pela rede mundial de computadores. As Tecnologias da Informação e Comunicação (TIC) tornaram-se ainda 
                mais importantes, precisando expandir e adequar-se rapidamente para uma demanda que vinha crescendo, mas que de uma hora para outra tornou-se 
                essencial para a continuidade e o sustento da vida.
                 </p>
            <p>
                Contudo, o acesso às TICs no Brasil não é democrático e o acesso à Internet continua não sendo equânime para o conjunto da população, em especial o campo brasileiro.
                Isso se torna um grave problema em momentos como o da emergência de uma crise sanitária, quando o modo virtual ou remoto se torna o 
                principal meio de comunicação, desenvolvimento humano e até sustento entre as pessoas.
            </p>
            <p></p>

            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <div class="">
                            <p>No campo, a falta de democracia digital é mais evidente, sendo que o uso da Internet está restrito ao aparelho celular para mais de 83% da população e, 
                                na maioria das vezes, se dá por meio de pacotes de dados limitado (61%) (CETIC.BR, 2022). Tanto a rede de telefonia e Internet, como a posse de 
                                equipamentos são de baixo acesso e má qualidade, podendo inclusive, ser compartilhado por vários familiares, comprometendo assim as tarefas que 
                                passaram a ser comuns e necessárias durante a pandemia.</p>

                                 <p>Em relação à saúde, pouco se conhece sobre a população do campo. A elaboração dos boletins epidemiológicos, sob a responsabilidade da vigilância 
                                    epidemiológica nos três níveis federativos, toma como unidade informacional os bairros, os municípios, os estados e as regiões. Não havendo, portanto, 
                                    a visibilidade necessária e detalhada sobre os números de adoecimentos e óbitos ou até mesmo a situação das imunizações referentes a população do campo. 
                                </p>
                        </div><!-- /.feature-one__summery -->
                                                          
                    </div><!-- /.feature-one__content -->
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="feature-one__image">
                        <img src="{% static 'assets/images/resources/covid_.png' %}" alt="">
                    </div><!-- /.feature-one__image -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <p>Assim, diversos territórios que se encontram no campo, não contam com dados importantes para o desenvolvimento de políticas e serviços públicos e a elaboração de 
                estratégias capazes de mitigar o impacto causado pela pandemia.
                 </p>
            
            </div><!-- /.quote_text -->

            
        </div><!-- /.block-text__content p -->

        <div class="container">

            <h2>Buscando alternativas</h2>


            <div class="block-text__content p">
                <p>Considerando essa realidade, a estratégia de Formação-ação em Agentes Populares de Saúde do Campo no Ceará (APSC-CE) ampliou a parceria incluindo também o 
                    Coletivo Socialtec que está desenvolvendo e mantendo o Sistema Agentes do Campo. 
                     </p>
                <p>
                    O Sistema envolve uma série de soluções tecnológicas, como um site, um sistema web, bancos de dados, um aplicativo para dispositivo móvel (App), além de 
                    ferramentas de mineração e visualização de dados. Tem como objetivo auxiliar no levantamento de dados dos territórios em tempo real e na organização popular 
                    dos Agentes Populares de Saúde. Por meio da coleta de dados realizada pelos APSC-CE nos domicílios, será possível conhecer a situação socioeconômica e epidemiológica 
                    de cada família no território, podendo gerar informações importantes relacionadas aos impactos da Covid-19 em tempo real, visto que os dados serão enviados e processados 
                    automaticamente à medida que forem sendo transmitidos.
                </p>
                <p></p>
    
                <p>Com base na análise dessa coleta será permitida à comunidade perceber seus principais problemas em saúde e como os fatores sociais e econômicos podem ser determinantes nesse processo. 
                    Com mais acesso à informação, a comunidade poderá elaborar estratégias de enfrentamento aos problemas, como ter mais elementos para cobrar políticas públicas.
                     </p>
                     <p> </p>
                
                </div><!-- /.quote_text -->
    
                
            </div><!-- /.block-text__content p -->
        

    </div><!-- /.container -->
</section><!-- /.service-one -->

<section class="service-one">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12 col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                <div class="service-one__box">
                    <img src="{% static 'assets/images/services/service-1-1.jpg' %}" alt="">
                    <div class="service-one__box-content">
                        <h3><a href="/pagina/biblioteca">Biblioteca</a></h3>
                    </div><!-- /.service-one__box-content -->
                </div><!-- /.service-one__box -->
            </div><!-- /.col-md-12 col-lg-4 -->
            <div class="col-md-12 col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                <div class="service-one__box">
                    <img src="{% static 'assets/images/services/service-1-2.jpg' %}"" alt="">
                    <div class="service-one__box-content">
                        <h3><a href="/pagina/formacao">Formação</a></h3>
                    </div><!-- /.service-one__box-content -->
                </div><!-- /.service-one__box -->
            </div><!-- /.col-md-12 col-lg-4 -->
            <div class="col-md-12 col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                <div class="service-one__box">
                    <img src="{% static 'assets/images/services/service-1-3.jpg' %}" alt="">
                    <div class="service-one__box-content">
                        <h3><a href="/pagina/sistema">Sistema APSC</a></h3>
                    </div><!-- /.service-one__box-content -->
                </div><!-- /.service-one__box -->
            </div><!-- /.col-md-12 col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.service-one -->


{% endblock %}