{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-quem-somos{% endblock %}

{% block content %}

<!--Conteúdo aqui Sem menu e sem footer-->
<!-- Corrigir os Statics (Links)-->

<section class="page-header">
    <div class="page-header__bg" style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg-1-1.jpg' %}');"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Contato</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>Contato</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="contact-one">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                <div class="contact-one__content">
                    <div class="block-title">
                        
                        <p>Entre em contato</p>
                        <div class="xilosafont-bordo text-center">
                            <h3>Deixe-nos uma mensagem</h3>
                        </div><!-- /.block-title -->
                        
                    </div><!-- /.block-title -->
                    <div class="contact-one__summery">
                        <p>Junte-se a nós! Mande-nos sugestões e mantenha-se informado sobre as novidades do nosso alcance.</p>
                    </div><!-- /.contact-one__summery -->
                    <div class="contact-one__social">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://instagram.com/agentespopularescampoce?igshid=ZmVmZTY5ZGE= "><i class="fab fa-instagram"></i></a>
                    </div><!-- /.contact-one__social -->
                </div><!-- /.contact-one__content -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-8">
                <form action="assets/inc/sendemail.php" class="contact-one__form contact-form-validated">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" name="name" placeholder="Nome Completo">
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <input type="text" name="email" placeholder="E-mail">
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <input type="text" name="phone" placeholder="Número de Tefone">
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <input type="text" name="subject" placeholder="Assunto">
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                            <textarea name="message" placeholder="Escrever Mensagem"></textarea>
                        </div><!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <button type="submit" class="thm-btn">Enviar</button><!-- /.thm-btn -->
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </form>
            </div><!-- /.col-sm-12 col-md-6 col-lg-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.contact-one -->

<!-- <section class="contact-infos">
    <div class="container">
        <div class="inner-container wow fadeInUp zeta" data-wow-duration="1500ms">
            <div class="row no-gutters">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="contact-infos__single">
                        <h3>About Company</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit nulla sit amet lectus neque.</p>
                    </div><!-- /.contact-infos__single -->
                </div><!-- /.col-sm-12 col-md-12 col-lg-4 -->
                <!-- <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="contact-infos__single">
                        <h3>Visit Company</h3>
                        <p>66 broklyn golden street line, New York. United States of America.</p>
                    </div><!-- /.contact-infos__single -->
                </div><!-- /.col-sm-12 col-md-12 col-lg-4 -->
               <!--  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="contact-infos__single">
                        <h3>Call or Email</h3>
                        <p><a href="mailto:needhelp@company.com">needhelp@company.com</a> <br>
                            <a href="mailto:info@company.com">info@company.com</a><br>
                            <a href="tel:666-888-0000">666 888 0000</a> -->
                        </p>
                    </div><!-- /.contact-infos__single -->
                </div><!-- /.col-sm-12 col-md-12 col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.inner-container -->
    </div><!-- /.container -->
</section><!-- /.contact-infos -->


{% endblock %}