{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-quem-somos{% endblock %}

{% block content %}

<!--Conteúdo aqui Sem menu e sem footer-->
<!-- Corrigir os Statics (Links)-->

<section class="page-header header-cinza-after">
    <div class="page-header__bg"
        style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg-1-7.jpg' %}');"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Sobre Nós</span></li>
            <li>/</li>
            <li><span>Equipe</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>Equipe</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="team-one">
    <!-- <img src="{% static 'assets/images/icons/team-bg-1-1.png' %}" alt="" class="team-one__bg"> -->
    <div class="container">
        <div class="block-title_team">

            <h3>Conheça o time</h3>

            <h2>Nossa Equipe é composta de diversos atores</h2>


</section><!-- /.team-one -->



<div class="bloco">
    <div class="container">

        <div class="block-title_team">
    
            <h3>Coordenação-Geral do Projeto</h3>
    
                <div class="row">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="team-6 p-3">
                                <div class="team-img">
                                    <img src="{% static 'assets\images\team\team-1-1.jpg' %}" alt="Team Image">
                                </div>
                                <div class="team-content">
                                    <h2>Ana Paula Dias de Sá</h2>
    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="team-6 p-3">
                                <div class="team-img">
                                    <img src="{% static 'assets\images\team\team-1-2.jpg' %}" alt="Team Image">
                                </div>
                                <div class="team-content">
                                    <h2>André Luiz Dutra Fenner</h2>
    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
    
                            <h3>Execução do Projeto
                            </h3>
                            <h4>Mestrandos do Programa de Pós-Graduação de Políticas Públicas em Saúde</h4>
        
                            <ul class="list-unstyled project-details__check-list">
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Ana Paula Dias de Sá
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Fernando Paixão da Costa
                                </li>
                            </ul><!-- /.list-unstyled -->
                        </div><!-- /.col-lg-6 -->
                        
    
                    </div>
                </div>
    
                <div class="block-title_team">
                    <div class="row">
                        
                        <div class="col-lg-6">
                            <h3>Coordenação Político Pedagógica (CPP)</h3>
        
                            <ul class="list-unstyled project-details__check-list">
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Ana Paula Dias de Sá
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Ana Paula Andrade Silva Milhomem
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    André Luiz Dutra Fenner
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Fernando Paixão da Costa
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Francisca Aldeize Martins
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Gislei Siqueira Knierim
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Joceline Souza dos Santos
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Jorge Mesquita Huet Machado
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Vera Lúcia Alves Mariano
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Virgínia da Silva Corrêa
                                </li>
        
                            </ul><!-- /.list-unstyled -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
    
                            <h3>Organização</h3>
        
                            <ul class="list-unstyled project-details__check-list">
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    André Luiz Dutra Fenner
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Ana Paula Dias de Sá
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Gislei Siqueira Knierim
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Jorge Mesquita Huet Machado
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Rosely Fabrícia de Melo Arantes
                                </li>
                            </ul><!-- /.list-unstyled -->
                        </div><!-- /.col-lg-6 -->
                    </div>
                    
    
    
    
    
    
    
                </div>
                
    
                
    
                <div class="block-title_team">
                    <div class="row">
                        <div class="col-lg-6">
    
                            <h3>Colaboração</h3>
        
                            <ul class="list-unstyled project-details__check-list">
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Ana Paula Dias de Sá
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Fernando Paixão da Costa
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Henrique Guedes Formiga
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Gislei Siqueira Knierim
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Joceline Souza dos Santos
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    José Maria da Silva Monteiro Filho
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Leandro Araújo da Costa
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Lucineia Miranda de Freitas
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Maria Rocineide Ferreira da Silva
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Mercedes Queiroz Zuliani
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Pamela Arruda Vasconcelos
                                </li>
                            </ul><!-- /.list-unstyled -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
    
                            <h3>Revisão Técnico-científico</h3>
        
                            <ul class="list-unstyled project-details__check-list">
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    André Luiz Dutra Fenner
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Ana Paula Dias de Sá
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Gislei Siqueira Knierim
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Jorge Mesquita Huet Machado
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Rosely Fabrícia de Melo Arantes
                                </li>
                            </ul><!-- /.list-unstyled -->
                        </div><!-- /.col-lg-6 -->
                    </div>
                    
                </div>
    
                
                <div class="block-title_team">
                    <div class="row">
                        <div class="col-lg-6">
    
                            <h3>Revisor de Texto</h3>
        
                            <ul class="list-unstyled project-details__check-list">
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Rosely Fabrícia de Melo Arantes
                                </li>
        
                            </ul><!-- /.list-unstyled -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
    
                            <h3>Produtor de Mídia</h3>
        
                            <ul class="list-unstyled project-details__check-list">
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Ivandro Claudino de Sá
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Francisco Henrique Formiga
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Rangel Jungles dos Santos
                                </li>
                            </ul><!-- /.list-unstyled -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
    
                            <h3>Comunicação</h3>
        
                            <ul class="list-unstyled project-details__check-list">
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Antônia Eva Souza dos Santos
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Kyanne Cristhines Dias Braga
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Rosely Fabrícia de Melo Arantes
                                </li>
                            </ul><!-- /.list-unstyled -->
                        </div><!-- /.col-lg-6 -->
                    </div>
                    
                </div>
                <div class="block-title_team">
                    
                </div>
    
                <div class="block-title_team">
                    
                </div>
    
                <div class="block-title_team">
                    <div class="col-lg-15">
    
                        <h3>Parceiros</h3>
    
    
                        <div class="client-carousel client-carousel__has-border-top">
                            <div class="container">
                                <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 140, "slidesPerView": 4, "autoplay": { "delay": 4000 }, "breakpoints": {
                                "0": {
                                    "spaceBetween": 30,
                                    "slidesPerView": 2
                                },
                                "375": {
                                    "spaceBetween": 30,
                                    "slidesPerView": 2
                                },
                                "575": {
                                    "spaceBetween": 30,
                                    "slidesPerView": 3
                                },
                                "767": {
                                    "spaceBetween": 50,
                                    "slidesPerView": 4
                                },
                                "991": {
                                    "spaceBetween": 50,
                                    "slidesPerView": 4
                                },
                                "1199": {
                                    "spaceBetween": 100,
                                    "slidesPerView": 4
                                }
                            }}'>
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="{% static 'assets/images/resources/logo1_fiocruz.logo.png' %}" alt="">
                                        </div><!-- /.swiper-slide -->
                                        <div class="swiper-slide">
                                            <img src="{% static 'assets/images/resources/logo2_redenacional.logo.png' %}" alt="">
                                        </div><!-- /.swiper-slide -->
                                        <div class="swiper-slide">
                                            <img src="{% static 'assets/images/resources/logo3_mst.logo.png' %}" alt="">
                                        </div><!-- /.swiper-slide -->
                                        <div class="swiper-slide">
                                            <img src="{% static 'assets/images/resources/logo4_socialtec.logo.png' %}" alt="">
                                        </div><!-- /.swiper-slide -->
    
                                    </div><!-- /.swiper-wrapper -->
                                </div><!-- /.thm-swiper__slider -->
                            </div><!-- /.container -->
                        </div><!-- /.client-carousel -->
    
                    </div><!-- /.col-lg-6 -->
                </div>             
                </div>
    </div>
</div>


</div><!-- /.page-wrapper -->

{% endblock %}