{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-quem-somos{% endblock %}

{% block content %}

<!--Conteúdo aqui Sem menu e sem footer-->
<!-- Corrigir os Statics (Links)-->

<section class="page-header">
    <div class="page-header__bg"
        style="background-image: url({% static 'assets/images/backgrounds/page-header-bg-1-1.jpg' %});"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Formação</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>Formação</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="bloco-master mt-4">
    <div class="container">

        <div class="bloco">

            <div class="">

                <div class="row">


                    <section class="">

                        <div class="">



                            <div class="">

                                <div class="row">

                                    
                                        <!-- <img src="{% static 'assets\images\team\team-1-2.jpg' %}" alt=""> -->
                                        <h1>O caminho</h1>
                                        <p>A pandemia da Covid-19 impôs processos inéditos e para garantir a vida muitas
                                            pessoas foram obrigadas a se submeterem ao distanciamento e ao isolamento
                                            social. Das práticas comunicativas à aquisição de alimentos e remédios, ou
                                            mesmo agendamento de consultas foram deslocadas da esfera material para a
                                            virtual. Praticamente tudo foi impactado e mediado pelas novas Tecnologias
                                            da Comunicação e Informação (TIC). Essa transformação também incidiu nos
                                            processos educativos, independente das populações estarem localizadas nas
                                            cidades ou no campo. </p>
                                        <p>Diante dessa realidade e com o olhar para as especificidades das Populações
                                            do Campo no Ceará, o Movimento dos Trabalhadores e Trabalhadoras Rurais
                                            Sem Terra (MST/CE), em parceria com a Rede Nacional de Médicas e Médicos
                                            Populares (RNMMP) e o suporte acadêmico da Escola Fiocruz de Governo
                                            Brasília (EFG-Fiocruz) idealizaram e implementaram um processo formativo nas
                                            áreas de assentamentos e acampamentos do MST. Um projeto pioneiro
                                            e voltado para a vigilância popular em saúde. </p>
                                        <p>O processo de formação ocorreu de forma híbrida, associando os <strong>Tempo
                                                Aula (TA)</strong> e o <strong>Tempo Comunidade (TC)</strong>. O TA no
                                            modo remoto e síncrono,
                                            através de plataformas de “conversa” com duração entre 1h30 até 2h, agendada
                                            em dias e horários fixos; e o TC, inspirado na Pedagogia da
                                            Alternância, foi vivenciado de maneira presencial, atendendo aos protocolos
                                            sanitários vigentes em cada período da pandemia. O processo
                                            formativo, ocorreu de julho de 2020 à setembro de 2021. </p>
                                        <p>Foram convidados profissionais e professores, militantes na área de atuação e
                                            pessoas com referência no conteúdo para ministrar as aulas e trabalhar os
                                            temas ligados
                                            ao campo da saúde e direitos. O roteiro prezava por um processo dialógico
                                            onde educadores(as) e educandos(as) pudessem atuar de forma horizontal. </p>

                                        <ul class="list-unstyled project-details__check-list">
                                            <div class="block-title">
                                                <p>Influências Pedagógicas e Metodológicas</p>
                                            </div>

                                            <li>
                                                <i class="fa fa-check-circle"></i>
                                                Educação Popular
                                            </li>
                                            <li>
                                                <i class="fa fa-check-circle"></i>
                                                Pedagogia da Alternância
                                            </li>
                                            <li>
                                                <i class="fa fa-check-circle"></i>
                                                Pedagogia do Trabalho
                                            </li>
                                        </ul><!-- /.list-unstyled -->

                                    
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->
                        </div><!-- /.bottom-content -->



                </div><!-- /.block-text__content p -->
            </div><!-- /.container -->
        </div><!-- /.project-details -->


        <div class="mt-4">

            
                <h4>Educação popular</h4>
            

            

            <blockquote class="quote-card yellow-card mb-4">
                <p>
                    O legado deixado pelo educador Paulo Freire, inspira e nos orienta (e por que não dizer desafia?) de
                    que o processo de educação popular
                    é resultante de um diálogo de saberes das experiências, saberes populares e de conhecimentos
                    sistematizados que vêm sendo construídos social
                    e cooperativamente. Qualquer educação popular, seja informal ou formal, escolarizada ou em
                    organizações sociais, deve assumir uma perspectiva
                    crítica radical, libertadora e transformadora, e considerar os sujeitos como agentes de produção do
                    conhecimento e não apenas como receptores. 
               </p>
            
               <cite>
                (FREIRE, 2000)
              </cite>
            </blockquote>

           
                
                <h4>Pedagogia da alternância</h4>
            

            <div class="">
                <p>A Pedagogia da Alternância propõe uma formação com períodos alternados de vivência e estudo na Escola
                    e na Comunidade. Esta pedagogia permite uma formação global
                    onde a experiência e a sistematização ficam presentes. Da experiência brotam os novos conhecimentos
                    que são retomados pela escola (teoria) para aplicação imediata
                    em outras situações de aprendizagem (prática). Por meio da Alternância o(a) educando(a) analisa sua
                    realidade através das atividades trabalhadas nos períodos
                    escolares e a partir de observações constantes que faz no meio comunitário A Pedagogia da
                    Alternância permite que os conteúdos de ensino apreendidos no “tempo aula”
                    sejam verdadeiramente vinculados ao meio de vida do(a) educando(a). </p>
            </div><!-- /.block-text__content p -->

           
                <h4 class="mt-5">PEDAGOGIA DO TRABALHO</h4>
            

            

            <blockquote class="quote-card yellow-card mb-4">
                <p>
                    Antes de tudo, o trabalho é um processo de que participam o homem e a natureza, processo em que
                        o ser humano, com sua própria ação, impulsiona,
                        regula e controla seu intercâmbio material com a natureza (...) atuando assim sobre a natureza
                        externa e modificando-a, ao mesmo tempo modifica
                        a sua própria natureza. 
               </p>
            
               <cite>
                (MARX , p. 211, 2014)
              </cite>
            </blockquote>

            <div class="block-text__content p">
                <p>Buscando a materialidade dessa influência, todas as tarefas (trabalhos) foram socializadas em forma
                    de rodízio: coordenar, apresentar temas, articular atividades,
                    educandos(as) e educadores(as) integrados vivenciando diferentes perspectivas a partir do lugar que
                    ocupavam, transformando a formação (natureza) e se
                    transformando no processo. Essa vivência além de ressignificar as relações com o trabalho e com o
                    outro, também evita a alienação do trabalho. Aqui se
                    compreende a origem e o fim do processo. </p>
            </div><!-- /.block-text__content p -->



            
                <h4 class="mt-5">FORMAÇÃO-AÇÃO</h4>
            
            

            <blockquote class="quote-card yellow-card mb-4">
                <p>
                    “É um recurso metodológico que se propõe a vivenciar teoria e prática ao mesmo tempo e sob o
                    mesmo contexto, dessa maneira a teoria poderá
                    ser pautada pela prática e vice-versa. Nessa perspectiva, a teoria vai à experimentação e nela
                    se ressignifica, reorganizando-se.
                    A ação concreta valida o conhecimento aprendido e indaga novos aprendizados. Um processo que
                    exige uma relação horizontal e dialógica
                    entre educadores(as) e educandos(as)”, 
               </p>
            
               <cite>
                Ana Paula Dias de Sá
              </cite>
            </blockquote>

            <div class="block-text__content p">
                <p>A formação-ação de Agentes Populares de Saúde do Campo no CE foi concebida em três módulos educativos
                    com temas propostos pelos(as) próprios(as)
                    educandos(as) com base nas suas necessidades e nas respectivas Comunidades. </p>

            </div><!-- /.block-text__content p -->


            <ul class="list-unstyled project-details__check-list">
                <h2>Conteúdos construídos</h2>
                <li>
                    <i class="fa fa-check-circle"></i>
                    Módulo I abordou os temas relacionados a pandemia da Covid-19;
                </li>
                <li>
                    <i class="fa fa-check-circle"></i>
                    Módulo II tratou do acesso aos direitos dentre eles: o direito à saúde, à água e à terra;
                </li>
                <li>
                    <i class="fa fa-check-circle"></i>
                    Módulo III abordou os elementos para contribuir com o trabalho das/dos Agentes Populares de Saúde do
                    Campo-CE, que são: as práticas populares
                    de cuidado em saúde, plantas medicinais, educação popular, vigilância popular em saúde e uso de
                    tecnologia da informação como ferramenta para o
                    exercício da vigilância popular.
                </li>
            </ul><!-- /.list-unstyled -->


            <div class="container">

                <div class="block-title_team">
                    <div class="col-lg-9">

                        <h4>Módulo I</h4>

                        <ul class="list-unstyled project-details__check-list">
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Apresentação da proposta de formação
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                A pandemia: aspectos gerais, nacional e internacional
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                A pandemia: transmissão e cuidados
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Consequências da Pandemia: violência contra a mulher
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Consequências da Pandemia: saúde mental
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Consequências da Pandemia: desinformação e fake news
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Avaliação do módulo I
                            </li>
                        </ul><!-- /.list-unstyled -->
                    </div><!-- /.col-lg-6 -->

                </div>
                <div class="block-title_team">
                    <div class="col-lg-9">

                        <h4>Módulo II</h4>

                        <ul class="list-unstyled project-details__check-list">
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Direito à saúde: SUS
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Direito à saúde: PNSIPCFA
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Direito a água: aspectos jurídicos
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Direito a água: caminho das águas
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Direito a água: água e saneamento
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Direito à terra: história da luta pela terra
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Direito a terra: agronegócio e agrotóxicos
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Direito a terra: agroecologia
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Direito a terra: soberania alimentar e segurança nutricional
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Avaliação do módulo II
                            </li>
                        </ul><!-- /.list-unstyled -->
                    </div><!-- /.col-lg-6 -->

                </div>
                <div class="block-title_team">
                    <div class="col-lg-9">

                        <h4>Módulo III</h4>

                        <ul class="list-unstyled project-details__check-list">
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Práticas Populares de Cuidado em saúde
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Uso e manejo de plantas medicinais
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Educação Popular
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Vigilância Popular em Saúde
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Uso da Tecnologia da informação na Vigilância Popular em Saúde
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>
                                Avaliação do Módulo III
                            </li>

                        </ul><!-- /.list-unstyled -->
                    </div><!-- /.col-lg-6 -->

                </div>




            </div>
        </div>





    </div><!-- /.feature-one__content -->


    </div><!-- /.row -->

    </div><!-- /.container -->

</section><!-- /.feature-one -->





</section><!-- /.service-one -->





{% endblock %}