{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-quem-somos{% endblock %}

{% block content %}

<!--Conteúdo aqui Sem menu e sem footer-->
<!-- Corrigir os Statics (Links)-->

<section class="page-header">
    <div class="page-header__bg" style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg-1-9.jpg' %}');"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><a href="/pagina/biblioteca">Biblioteca</a></li>
            <li>/</li>
            <li><span>Livro</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2><i class="fa-solid fa-book fa-2xs" ></i> Livros</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->



<section class="service-two service-two__home-two">

    <div class="container">
        <div class="block-title text-center">
            
            <p>Acesse as obras que</p>
            <h3>Selecionamos para você</h3>
        </div><!-- /.block-title -->
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="{% static 'assets/images/services/service-2-1.jpg' %}" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <h3><a href="service-details.html">Agriculture Products</a></h3>
                        <p>Lorem ium dolor sit ametad pisicing elit sed simply do ut.</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="{% static 'assets/images/services/service-2-2.jpg' %}" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <h3><a href="service-details.html">Oragnic
                                Products</a></h3>
                        <p>Lorem ium dolor sit ametad pisicing elit sed simply do ut.</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="{% static 'assets/images/services/service-2-3.jpg' %}" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <h3><a href="service-details.html">Fresh
                                Vegetables</a></h3>
                        <p>Lorem ium dolor sit ametad pisicing elit sed simply do ut.</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="{% static 'assets/images/services/service-2-4.jpg' %}" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <h3><a href="service-details.html">Dairy
                                Products</a></h3>
                        <p>Lorem ium dolor sit ametad pisicing elit sed simply do ut.</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="{% static 'assets/images/services/service-2-1.jpg' %}" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <h3><a href="service-details.html">Agriculture Products</a></h3>
                        <p>Lorem ium dolor sit ametad pisicing elit sed simply do ut.</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="{% static 'assets/images/services/service-2-2.jpg' %}" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <h3><a href="service-details.html">Oragnic
                                Products</a></h3>
                        <p>Lorem ium dolor sit ametad pisicing elit sed simply do ut.</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="{% static 'assets/images/services/service-2-3.jpg' %}" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <h3><a href="service-details.html">Fresh
                                Vegetables</a></h3>
                        <p>Lorem ium dolor sit ametad pisicing elit sed simply do ut.</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="{% static 'assets/images/services/service-2-4.jpg' %}" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <h3><a href="service-details.html">Dairy
                                Products</a></h3>
                        <p>Lorem ium dolor sit ametad pisicing elit sed simply do ut.</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="{% static 'assets/images/services/service-2-1.jpg' %}" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <h3><a href="service-details.html">Agriculture Products</a></h3>
                        <p>Lorem ium dolor sit ametad pisicing elit sed simply do ut.</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="{% static 'assets/images/services/service-2-2.jpg' %}" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <h3><a href="service-details.html">Oragnic
                                Products</a></h3>
                        <p>Lorem ium dolor sit ametad pisicing elit sed simply do ut.</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="{% static 'assets/images/services/service-2-3.jpg' %}" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <h3><a href="service-details.html">Fresh
                                Vegetables</a></h3>
                        <p>Lorem ium dolor sit ametad pisicing elit sed simply do ut.</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="{% static 'assets/images/services/service-2-4.jpg' %}" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <h3><a href="service-details.html">Dairy
                                Products</a></h3>
                        <p>Lorem ium dolor sit ametad pisicing elit sed simply do ut.</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.service-two -->






<section class="call-to-action__two jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% 50%">
    <img class="call-to-action__two__bg jarallax-img" src="{% static 'assets/images/backgrounds/cta-2-bg-1.jpg' %}" alt="parallax-image" />
    <div class="container">
        <h3>Conheça nossa História</h3>
        <a href="pagina\quem_somos" class="thm-btn">Saber mais</a><!-- /.thm-btn -->
    </div><!-- /.container -->
</section><!-- /.call-to-action__two -->


{% endblock %}