{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-quem-somos{% endblock %}

{% block content %}

<!--Conteúdo aqui Sem menu e sem footer-->
<!-- Corrigir os Statics (Links)-->

<section class="page-header">
    <div class="page-header__bg" style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg-1-3.jpg' %}');"></div> 
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Sobre Nós</span></li>
            <li>/</li>
            <li><span>Onde Estamos</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>Onde Estamos</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->

<div class="projects-one">
    <div class="container">
        
        <p>Acompanhe onde estamos atuando:</p>

        <div class="row">
            
            
            <div class="col-sm-12 col-md-6 col-lg-4">

                
                <div class="projects-one__single">
                    <img src= "{% static 'assets/images/projects/project-1-1-1.jpg' %}" alt="">
                    <div class="projects-one__content">
                        <h3>Ceará</h3>
                        <a href="/pagina/onde_estamos_ceara" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                    </div><!-- /.projects-one__content -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="{% static 'assets/images/projects/project-1-2-2.jpg' %}" alt="">
                    <div class="projects-one__content">
                        <h3>Brasília</h3>
                        <a href="/pagina/onde_estamos_brasilia" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                    </div><!-- /.projects-one__content -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">

                
                <div class="projects-one__single">
                    <img src= "{% static 'assets/images/projects/project-1-3-3.jpg' %}" alt="">
                    <div class="projects-one__content">
                        <h3>Minas Gerais</h3>
                        <a href="/pagina/onde_estamos_minas" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                    </div><!-- /.projects-one__content -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.projects-one -->

{% endblock %}
