{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-quem-somos{% endblock %}

{% block content %}

<!--Conteúdo aqui Sem menu e sem footer-->
<!-- Corrigir os Statics (Links)-->

<section class="page-header">
    <div class="page-header__bg" style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg-1-1.jpg' %}');"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Sobre Nós</span></li>
            <li>/</li>
            <li><a href="/pagina/onde_estamos">Onde Estamos?</a></li>
            <li>/</li>
            <li><span>Brasília</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>Brasília</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="project-details">
    
    <div class="container">
    
        

        

    </div><!-- /.container -->
</div><!-- /.projects-one --> 
{% endblock %}