{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-quem-somos{% endblock %}

{% block content %}

<!--Conteúdo aqui Sem menu e sem footer-->
<!-- Corrigir os Statics (Links)-->

<section class="page-header">
    <div class="page-header__bg" style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg-1-1.jpg' %}');"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Sobre Nós</span></li>
            <li>/</li>
            <li><a href="/pagina/onde_estamos">Onde Estamos?</a></li>
            <li>/</li>
            <li><span>Ceará</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>Ceará</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="project-details">
    
    <div class="container">
    
        

        
<section class="about-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-two__images">
                    <img src="{% static 'assets/images/resources/about-2-2.jpg' %}" alt="">
                    <img src="{% static 'assets/images/resources/about-2-1.jpg' %}" alt="">
                </div><!-- /.about-two__images -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="about-two__content">
                    
                    <div class="about-two__summery">
                        <p>O Ceará está localizado na região Nordeste do Brasil, limitando-se ao norte com o oceano Atlântico; ao sul com o estado de Pernambuco (PE); 
                            ao leste com os estados do Rio Grande do Norte (RN) e Paraíba (PB) e a oeste com o Piauí (PI). Ocupa uma área estimada em 148.886 km2 e mais de 86% desse 
                            território é considerado região semiárida, conforme dados do Instituto de Pesquisa e Economia e Estratégia Econômica do Ceará (IPECE/CE). Essa extensa área 
                            localizada no semiárido nordestino coloca o estado como integrante do Polígono das Secas, uma região que vivencia de maneira mais intensa e recorrente os efeitos 
                            dos baixos índices pluviométricos (chuvas). Faz parte dos territórios reconhecidos como de maior prioridade para a elaboração de políticas públicas, anteriormente 
                            pautadas no enfrentamento da seca e atualmente compreendidas enquanto medidas que auxiliem na convivência com o semiárido.</p>
                    </div><!-- /.about-two__summery -->

                    
                    
    </div><!-- /.container -->
</section><!-- /.about-two -->

        
        <p>
            O processo de formação da primeira turma dos APSC-CE foi realizado de julho de 2020 a setembro de 2021. A formação se deu de maneira híbrida e possibilitou a 
            formação de 34 agentes, divididos em nove comunidades de seis municípios (Amontada, Canindé, Crateús, Miraíma, Santa Quitéria e Santana do Acaraú), totalizando 
            aproximadamente 750 famílias acompanhadas e mais de 2 mil pessoas alcançadas de maneira direta e indireta.
        </p>
        <p>
            Desta maneira, a formação-ação de Agentes Populares de Saúde do Campo no CE foi concebida em três módulos educativos: o Módulo I abordado os temas relacionados a 
            Pandemia da Covid-19. O Módulo II tratou do acesso aos direitos dentre eles, o direito à saúde, à água e à terra, e finalmente no Módulo III abordou os elementos 
            para contribuir com o trabalho das/dos Agentes Populares de Saúde do Campo-CE, que são as práticas populares de cuidado em saúde, plantas medicinais, educação popular, 
            vigilância popular em saúde e uso de tecnologia da informação como ferramenta para o exercício da vigilância popular.
        </p>
    
        <div class="bottom-content">
            <div class="row">
                <div class="col-lg-6">
                    <!-- <h3>Most important and challenging
                        facts about this project</h3> -->
                    <p>Os recursos pedagógicos utilizados para essa formação se organizaram na criação do Sistema Agentes do Campo que envolve uma série de soluções tecnológicas. 
                        </p>
                    <ul class="list-unstyled project-details__check-list">
                        <li>
                            <i class="fa fa-check-circle"></i>
                            Como um Site Web
                        </li>
                        <li>
                            <i class="fa fa-check-circle"></i>
                            Bancos de dados distribuídos
                        </li>
                        <li>
                            <i class="fa fa-check-circle"></i>
                            um aplicativo para dispositivo móvel (App)
                        </li>
                        <li>
                            <i class="fa fa-check-circle"></i>
                           Um Guia de Roteiros 
                        e Cadernos Pedagógicos.
                        </li>
                    </ul><!-- /.list-unstyled -->
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="project-details__images">
                        <img src="{% static 'assets/images/projects/project-d-2-1.jpg' %}" alt="">
                        <img src="{% static 'assets/images/projects/project-d-2-2.jpg' %}" alt="">
                    </div><!-- /.project-details__images -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div><!-- /.bottom-content -->

        <p>
            O Caderno Pedagógico que aqui se apresenta, contém os textos de apoio aos temas trabalhados. Os encontros foram organizados no modo virtual e alguns territórios, 
            atendendo às regras sanitárias e às demandas relacionadas aos decretos de isolamento social do governo do estado, realizaram oficinas práticas presenciais.
        </p>
        <p>
            Comprometidos com esse olhar para o território cearense e as respectivas populações do campo, o Movimento dos Trabalhadores e Trabalhadoras Rurais Sem Terra no CE (MST/CE), 
            em parceria com a Rede Nacional de Médicas e Médicos Populares (RNMMP) e o suporte acadêmico da Escola Fiocruz de Governo Brasília (EFG-Fiocruz Brasília), idealizaram e implementaram 
            um processo formativo nas áreas de assentamentos e acampamentos do MST.
        </p>
    </div><!-- /.container -->
</section><!-- /.project-details -->



<div class="projects-one project-page">
    <div class="container">
        <hr />
        <div class="block-title text-center">
            
            <h3>Conheça outros Projetos</h3>
        </div><!-- /.block-title -->
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="{% static 'assets/images/projects/project-1-2.jpg' %}" alt="">
                    <div class="projects-one__content">
                        <h3>Brasília</h3>
                        <a href="/pagina/onde_estamos_brasilia.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                    </div><!-- /.projects-one__content -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.projects-one -->

{% endblock %}