{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-quem-somos{% endblock %}

{% block content %}

<!--Conteúdo aqui Sem menu e sem footer-->
<!-- Corrigir os Statics (Links)-->

<section class="page-header">
    <div class="page-header__bg" style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg-1-1.jpg' %}');"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Sobre Nós</span></li>
            <li>/</li>
            <li><span>Quem Somos?</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>Quem Somos?</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->


<section class="bloco-master">
    <div class="container">

        <section class="bloco">
            
                <div class="row">
                    <div class="col-lg-6">
                        <div>
                            <div class="block-title">
                                <p>Quem Somos?</p>
                                <h3>Sobre Nós</h3>
                            </div><!-- /.block-title -->
                            <div class="">
                                <p>O Projeto Agentes Populares de Saúde do Campo é uma proposta de formação-ação que busca atuar na perspectiva da vigilância popular
                                     em saúde. Uma vivência que teve início num momento em que o mundo se viu acometido pela Pandemia da Covid-19, em março de 2020.</p>

                                     <p>Aqui a vigilância é compreendida na perspectiva de estar atento, preparar-se para e que, complementada a estratégia popular e 
                                    emancipatória, traz em si as dimensões da prevenção e da promoção à saúde influenciadas por uma epidemiologia crítica que questiona 
                                    o modelo de desenvolvimento agrário, econômico e promotor de desigualdades e iniquidades (BREILH,2006).
                                    </p>
                            </div><!-- /.feature-one__summery -->
                                                              
                        </div><!-- /.feature-one__content -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="feature-one__image">
                            <img src="{% static 'assets/images/resources/android-chrome-512x512.png' %}" alt="">
                        </div><!-- /.feature-one__image -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                
            

        </section><!-- /.bloco -->

        

        <div class="">
            <p>Na Vigilância Popular em Saúde trabalhamos com a concepção da Vigilância de base territorial e comunitária, utilizando-se da educação popular 
                em saúde e da promoção da saúde em um processo de comunicação-ação (ARTICULAÇÃO SEMIÁRIDO BRASILEIRO, 2021).
                 </p>
            <p>
                Importante recordar que essa experiência foi concebida num processo de interação que trouxe para a elaboração dos conteúdos, a necessidade dos
                 territórios e a troca de experiências numa roda de saberes extremamente democrática entre educandas/os e educadoras/es, como nos ensinou o grande 
                 educador Paulo Freire.
            </p>
            <p></p>

            

            <blockquote class="quote-card yellow-card mb-4">
                <p>
                    Quem, melhor que os oprimidos, se encontrará preparado
                    para entender o significado terrível de uma sociedade opressora?
                    Quem sentirá, melhor que eles, os efeitos da opressão?
                    Quem, mais que eles, para ir compreendendo a necessidade da
                    libertação? Libertação a que não chegarão pelo acaso, mas pela
                    práxis de sua busca; pelo conhecimento e reconhecimento da
                    necessidade de lutar por ela 
               </p>
            
               <cite>
                (FREIRE, 2018)
              </cite>
            </blockquote>
            
        </div><!-- /.block-text__content p -->
        

        <section class="bloco mb-4 pt-3">
            
                <h2>Contexto Histórico</h2>
                <p>
                    A chegada da pandemia no Brasil evidenciou as profundas crises econômica, política, científica, ecológica e sanitária no país. De forma inédita, 
                    a sociedade atravessou o período da emergência da pandemia sem a articulação do poder público federal que obrigou os estados e a sociedade civil organizada 
                    (e não) a tomarem a dianteira de medidas que promovessem a saúde nos territórios. Neste cenário as populações historicamente negligenciadas e mais vulnerabilizadas 
                    foram as mais afetadas, como as do Campo.
                </p>
                <p>
                    Nesse contexto, as comunidades organizadas buscaram suas próprias soluções e encontraram nos Movimentos Sociais e nos Institutos de ensino e pesquisa o apoio para 
                    seguirem resistindo e Re-existindo.
                </p>
                <p>
                    As populações do campo vivem em espaços marcados por iniquidades, disputas e violências com uma história econômica, política e cultural fundada na “concentração de 
                    terra, de riqueza, uso dos recursos naturais, escravidão, extermínio de povos indígenas, marginalização de famílias e mulheres camponesas” (BRASIL, 2013, p. 9). 
                    Segundo o conceito da Política Nacional de Saúde Integral das Populações do Campo, da Floresta e das Águas (PNSIPCFA) são:
                </p>

                

                <blockquote class="quote-card yellow-card mb-4">
                    <p>
                        [...] povos e comunidades que têm seus modos de vida, produção e reprodução social relacionados predominantemente com a terra. Neste contexto estão os 
                            camponeses, sejam eles agricultores familiares, trabalhadores rurais assentados ou acampados, assalariados e temporários que residam ou não no campo. 
                            Estão ainda as comunidades tradicionais, como as ribeirinhas, quilombolas e as que habitam ou usam reservas extrativistas em áreas florestais ou aquáticas 
                            e ainda as populações atingidas por barragens, entre outras.
                   </p>
                
                   <cite>
                    (BRASIL, 2013, p. 8)
                  </cite>
                </blockquote>

                <div class="">
                    <p></p>
                    <p>Nesse cenário adverso, a vigilância popular realizada pelos Agentes Populares de Saúde do Campo (APSC) foi a estratégia encontrada e que permitiu a essas 
                        comunidades o acesso à informação, materiais de proteção individual, ações em promoção de saúde e apoio às demandas sociais ocasionadas pela pandemia.
                         </p>
                    <p></p>
                    
                </div><!-- /.block-text__content p -->
                
             
            
        </section><!-- /.project-details -->

        <div class="row mt-4">
            <div class="col-md-12 col-lg-4">
                <div class="service-one__box">
                    <img src="{% static 'assets/images/services/service-1-1.jpg' %}" alt="">
                    <div class="service-one__box-content">
                        <h3><a href="/pagina/biblioteca">Biblioteca</a></h3>
                    </div><!-- /.service-one__box-content -->
                </div><!-- /.service-one__box -->
            </div><!-- /.col-md-12 col-lg-4 -->
            <div class="col-md-12 col-lg-4">
                <div class="service-one__box">
                    <img src="{% static 'assets/images/services/service-1-1.jpg' %}" alt="">
                    <div class="service-one__box-content">
                        <h3><a href="/pagina/formacao">Formação</a></h3>
                    </div><!-- /.service-one__box-content -->
                </div><!-- /.service-one__box -->
            </div><!-- /.col-md-12 col-lg-4 -->
            <div class="col-md-12 col-lg-4">
                <div class="service-one__box">
                    <img src="{% static 'assets/images/services/service-1-1.jpg' %}" alt="">
                    <div class="service-one__box-content">
                        <h3><a href="/pagina/sistema">Sistema APSC</a></h3>
                    </div><!-- /.service-one__box-content -->
                </div><!-- /.service-one__box -->
            </div><!-- /.col-md-12 col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.service-one -->



<section class="call-to-action jarallax" data-jarallax data-speed="0.3" data-imgPosition="-80% 50%">
    <img class="call-to-action__bg jarallax-img" src="assets/images/backgrounds/cta-1-bg-1.jpg" alt="parallax-image" />
    <!-- /.call-to-action__bg -->
    <div class="container">
        <div class="call-to-action__content">
            <!-- <i class="call-to-action__icon agrikon-icon-agriculture-2"></i> -->
            <h3>Conheça nossa Equipe</h3>
        </div><!-- /.call-to-action__content -->
        <div class="call-to-action__button">
            <a href="/pagina/equipe" class="thm-btn">Ler Mais</a><!-- /.thm-btn -->
        </div><!-- /.call-to-action__button -->
    </div><!-- /.container -->
</section><!-- /.call-to-action -->

{% endblock %}