{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-quem-somos{% endblock %}

{% block content %}

<!--Conteúdo aqui Sem menu e sem footer-->
<!-- Corrigir os Statics (Links)-->

<section class="page-header">
    <div class="page-header__bg" style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg-1-3.jpg' %}');"></div> 
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Sistema APSC</span></li>
            <li>/</li>
            <li><span>Sistema</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>Sistema</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->



<div class="bloco mt-4 pt-4">

    
    
    <div class="container mb-4 pb-4">
        

        <div class="row ">
            <h2>Agentes Campo</h2>
                <p>Compreendendo os desafios vividos cotidianamente pelas populações do campo, principalmente das limitações para a utilização das TICs, 
                    o Sistema precisou contemplar alguns requisitos que permitisse o seu uso pelos APSC-CE, tais como:</p>

                    <div class="row">
                        <div class="col-lg-6">
                            <div>
                                <div class="block-title">
                                   
                                </div><!-- /.block-title -->
                                <div class="">
                                    <ul class="service-details__list list-unstyled">
                                        <li>
                                            <i class="agrikon-icon-right-arrow"></i>
                                            <strong>Versatilidade</strong> precisava ser instalado em aparelhos celulares mais simples, com pouca memória e baixa capacidade de processamento;
                                        </li>
                                        
                                        <li>
                                            <i class="agrikon-icon-right-arrow"></i>
                                            <strong>Usabilidade:</strong> o sistema deve ser acessível a qualquer pessoa, podendo ser facilmente utilizado a partir de uma simples apresentação;
                                        </li>
                                        <li>                    
                                            <i class="agrikon-icon-right-arrow"></i>
                                            <strong>Proteção dos Dados:</strong> todo o Sistema Agentes do Campo deve estar de acordo com a Lei Geral de Proteção de Dados (LGPD) nº 13.853;
                                        </li>
                                        
                                </div><!-- /.feature-one__summery -->
                                                                  
                            </div><!-- /.feature-one__content -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div>
                                <div class="block-title">
                                   
                                </div><!-- /.block-title -->
                                <div class="">
                                    <ul class="service-details__list list-unstyled">
                                        
                                        <li>
                                            <i class="agrikon-icon-right-arrow"></i>
                                            <strong>Adaptabilidade:</strong> por meio de algoritmos inteligentes, o sistema permite que perguntas sejam devidamente direcionadas segundo um perfil determinado. 
                                        </li>
                                        <li>
                                            <i class="agrikon-icon-right-arrow"></i>
                                            <strong>Autonomia:</strong> o Sistema deve funcionar mesmo sem acesso constante à Internet, sendo necessário conexão apenas para o processo de sincronização. 
                                        </li>
                                </div><!-- /.feature-one__summery -->
                                                                  
                            </div><!-- /.feature-one__content -->
                        </div><!-- /.col-lg-6 -->
                        
                        <div class="col-lg-6">
                            
                            <div class="feature-one__image pb-4 mb-4">
                                <img src="{% static 'assets/images/resources/sertao_vector.png' %}" alt="">
                            </div><!-- /.feature-one__image -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-md-6">
                            <h4>A utilização do Sistema compreende quatro fases: </h4>
                            <ul class="list-unstyled service-details__list-2">
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Reunião com a comunidade; elaboração dos questionários socioeconômicos e epidemiológicos; e capacitação dos Agentes Populares de Saúde do Campo.
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Instalação do aplicativo e “Treinamento” para uso do Sistema Agentes do Campo.
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Visita em domicílio por parte dos Agentes Populares do Campo para a coleta dos dados.
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Processamento e análise dos dados levantados.
                                </li>
                            </ul><!-- /.list-unstyled -->
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->
            
           
    </div><!-- /.container -->
    
</div>
</div>

{% endblock %}