{% extends "nav.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-quem-somos{% endblock %}

{% block content %}

<!--Conteúdo aqui Sem menu e sem footer-->
<!-- Corrigir os Statics (Links)-->

<section class="page-header">
    <div class="page-header__bg" style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg-1-8.jpg' %}');"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><a href="/pagina/biblioteca">Biblioteca</a></li>
            <li>/</li>
            <li><span>Vídeos</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2><i class="fa-solid fa-film fa-2xs" ></i> Vídeos</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->



<section class="service-xxx service-two__service-page">
    <div class="container">
        <div class="feature-one__content">
            <div class="block-title">
                <p>Selecione uma modalidade do nosso acervo:</p>
            </div><!-- /.block-title -->
</section><!-- /.service-two -->

<section class="video-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="video-one__image">
                    <img src="{% static 'assets/images/resources/video-1-2.jpg' %}" alt="">
                    <a href="https://www.youtube.com/watch?v=sRtqFzqj4DM" class="video-popup"><i class="fa fa-play"></i></a><!-- /.video-popup -->
                </div><!-- /.video-one__image -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="video-one__content">
                    <div class="block-title">
                      <h3>Vigilância Popular em Saúde</h3>
                      <p>Experiência dos Agentes Populares de Saúde do Campo</p>
                    </div><!-- /.block-title -->
                    <div class="video-one__summery">
                        <p> A Vigilância Popular é uma importante estratégia de organização e resistência presente nos territórios do campo que se intensificou no contexto da pandemia da Covid-19.</p>

                    </div><!-- /.video-one__summery -->
                    
                    <div class="video-one__count-wrap">
                
                    </div><!-- /.video-one__count-wrap -->
                </div><!-- /.video-one__content -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.video-one -->

<section class="video-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="video-two__content">
                    <div class="block-title">
                      <h3>Vigilância Popular em Saúde</h3>
                      <p>Experiência dos Agentes Populares de Saúde do Campo</p>
                    </div><!-- /.block-title -->
                    <div class="video-two__summery">
                        <p> A Vigilância Popular é uma importante estratégia de organização e resistência presente nos territórios do campo que se intensificou no contexto da pandemia da Covid-19.</p>

                    </div><!-- /.video-two__summery -->
                    
                    <div class="video-two__count-wrap">
                
                    </div><!-- /.video-two__count-wrap -->
                </div><!-- /.video-two__content -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="video-two__image">
                    <img src="{% static 'assets/images/resources/video-1-2.jpg' %}" alt="">
                    <a href="https://www.youtube.com/watch?v=sRtqFzqj4DM" class="video-popup"><i class="fa fa-play"></i></a><!-- /.video-popup -->
                </div><!-- /.video-two__image -->
            </div><!-- /.col-lg-6 -->
            
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.video-two -->

<section class="video-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="video-one__image">
                    <img src="{% static 'assets/images/resources/video-1-2.jpg' %}" alt="">
                    <a href="https://www.youtube.com/watch?v=sRtqFzqj4DM" class="video-popup"><i class="fa fa-play"></i></a><!-- /.video-popup -->
                </div><!-- /.video-one__image -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="video-one__content">
                    <div class="block-title">
                      <h3>Vigilância Popular em Saúde</h3>
                      <p>Experiência dos Agentes Populares de Saúde do Campo</p>
                    </div><!-- /.block-title -->
                    <div class="video-one__summery">
                        <p> A Vigilância Popular é uma importante estratégia de organização e resistência presente nos territórios do campo que se intensificou no contexto da pandemia da Covid-19.</p>

                    </div><!-- /.video-one__summery -->
                    
                    <div class="video-one__count-wrap">
                
                    </div><!-- /.video-one__count-wrap -->
                </div><!-- /.video-one__content -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.video-one -->

<section class="video-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="video-two__content">
                    <div class="block-title">
                      <h3>Vigilância Popular em Saúde</h3>
                      <p>Experiência dos Agentes Populares de Saúde do Campo</p>
                    </div><!-- /.block-title -->
                    <div class="video-two__summery">
                        <p> A Vigilância Popular é uma importante estratégia de organização e resistência presente nos territórios do campo que se intensificou no contexto da pandemia da Covid-19.</p>

                    </div><!-- /.video-two__summery -->
                    
                    <div class="video-two__count-wrap">
                
                    </div><!-- /.video-two__count-wrap -->
                </div><!-- /.video-two__content -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="video-two__image">
                    <img src="{% static 'assets/images/resources/video-1-2.jpg' %}" alt="">
                    <a href="https://www.youtube.com/watch?v=sRtqFzqj4DM" class="video-popup"><i class="fa fa-play"></i></a><!-- /.video-popup -->
                </div><!-- /.video-two__image -->
            </div><!-- /.col-lg-6 -->
            
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.video-two -->




<section class="call-to-action__two jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% 50%">
    <img class="call-to-action__two__bg jarallax-img" src="{% static 'assets/images/backgrounds/cta-2-bg-1.jpg' %}" alt="parallax-image" />
    <div class="container">
        <h3>Conheça nossa História</h3>
        <a href="pagina/quem_somos" class="thm-btn">Saber mais</a><!-- /.thm-btn -->
    </div><!-- /.container -->
</section><!-- /.call-to-action__two -->

{% endblock %}