{% load static %} {% load wagtailcore_tags %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.7" />
    <title>APSC - AGENTES POPULARES DE SAÚDE DO CAMPO</title>
    <!-- favicons Icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'assets/images/favicons/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'assets/images/favicons/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'assets/images/favicons/favicon-16x16.png' %}"
    />
    <link
      rel="manifest"
      href="{% static 'assets/images/favicons/site.webmanifest' %}"
    />
    <meta
      name="description"
      content="APSC - AGENTES POPULARES DE SAÚDE DO CAMPO"
    />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!--font xilo-->
    <link href="{% static 'assets/css/fontsnew.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'assets/css/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/jarallax.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/magnific-popup.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/bootstrap-select.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/agrikon-icons.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/nouislider.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/nouislider.pips.css' %}"
    />

    <!-- template styles -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />

    <!-- Vanilla Zoom -->
    
    <link rel="stylesheet" href="{% static 'assets/vanillazoom/zoom.css' %}" />
    
    
  </head>

  <body>
    <div class="preloader">
      <img
        class="preloader__image"
        width="55"
        src="{% static 'assets/images/loader.png' %}' %}"
        alt=""
      />
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
      <div class="topbar">
        <div class="container">
          <div class="topbar__left">
            <div class="topbar__social">
              <!-- <a href="#" class="fab fa-facebook-square"></a> -->
              <a href="https://instagram.com/agentespopularescampoce?igshid=ZmVmZTY5ZGE= " class="fab fa-instagram"></a>
            </div>
            <!-- /.topbar__social -->
            <p>Seja Bem-vindo!</p>
          </div>
          <!-- /.topbar__left -->
          <div class="topbar__right">
            <a href="#"
              ><i class="agrikon-icon-email"></i
              >agentespopularesdesaudedocampo@gmail.com</a
            >
          </div>
          <!-- /.topbar__right -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.topbar -->
      <nav class="main-menu">
        <div class="container">
          <div class="logo-box">
            <a href="/" aria-label="logo image"
              ><img
                src="{% static 'assets/images/logo-dark.png' %}"
                width="153"
                alt=""
            /></a>
            <span class="fa fa-bars mobile-nav__toggler"></span>
          </div>
          <!-- /.logo-box -->
          <ul class="main-menu__list">
            <li class="dropdown">
              <a href="#">Sobre Nós</a>
              <ul>
                <li><a href="/pagina/quem_somos">Quem Somos?</a></li>
                <li><a href="/pagina/onde_estamos">Onde Estamos</a></li>
                <li><a href="/pagina/equipe">Equipe</a></li>
              </ul>
            </li>
            <li>
              <a href="/pagina/biblioteca">Biblioteca</a>
            </li>

            <li>
              <a href="/galerias">Galeria</a>
            </li>

            <li>
              <a href="/posts/">Notícias</a>
            </li>

            <li>
              <a href="/pagina/formacao">Formação</a>
            </li>

            <li class="dropdown">
              <a href="#">Sistema APSC</a>
              <ul>
                <li><a href="/pagina/contexto">Contexto</a></li>
                <li><a href="/pagina/sistema">Sistema</a></li>
                <li><a href="/pagina/como_estamos">Como estamos?</a></li>
              </ul>
            </li>
            <li>
              <a href="/pagina/contato">Contato</a>
            </li>
          </ul>
          <!-- /.main-menu__list -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.main-menu -->

      <!--Conteudo aqui-->

      {% block content %} {% endblock %}

      <!--Fim Conteudo-->

      <footer class="site-footer">
        <img
          src="{% static 'assets/images/icons/footer-bg-icon-1.png' %}"
          class="site-footer__shape-1"
          alt=""
        />
        <img
          src="{% static 'assets/images/icons/footer-bg-icon-2.png' %}"
          class="site-footer__shape-2"
          alt=""
        />
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
              <div class="footer-widget">
                <a href="/" class="footer-widget__Logo">
                  <img
                    src="{% static 'assets/images/logo-light.png' %}"
                    width="153"
                    alt=""
                  />
                </a>
                <p>
                  
                </p>
                <form action="#" data-url="YOUR_MAILCHIMP_URL" class="mc-form">
                  <input
                    type="email"
                    name="EMAIL"
                    placeholder="Digite seu e-mail"
                  />
                  <button type="submit">
                    <i class="agrikon-icon-right-arrow"></i>
                  </button>
                </form>
                <!-- /.mc-form -->
                <div class="mc-form__response"></div>
                <!-- /.mc-form__response -->
                <div class="footer__social">
                  <!-- <a href="#" class="fab fa-facebook-square"></a> -->
                 
          
                  <a href="https://instagram.com/agentespopularescampoce?igshid=ZmVmZTY5ZGE= " class="fab fa-instagram"></a>
                </div>
                <!-- /.topbar__social -->
              </div>
              <!-- /.footer-widget -->
            </div>
            <!-- /.col-sm-12 col-md-6 col-lg-4 -->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
              <div class="footer-widget footer-widget__links-widget">
                <h3 class="footer-widget__title">Acesso Rápido</h3>
                <!-- /.footer-widget__title -->
                <ul class="list-unstyled footer-widget__links">
                  <li><a href="/pagina/quem_somos">Quem Somos?</a></li>
                  <li><a href="/pagina/onde_estamos">Onde Estamos</a></li>
                  <li><a href="/pagina/formacao">Formação</a></li>
                  <li><a href="/pagina/sistema">Sistema APSC</a></li>
                </ul>
                <!-- /.list-unstyled -->
              </div>
              <!-- /.footer-widget -->
            </div>
            <!-- /.col-sm-12 col-md-6 col-lg-2 -->
            
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
              <h3 class="footer-widget__title">Contato</h3>
              <!-- /.footer-widget__title -->
              <ul class="list-unstyled footer-widget__contact">
                <!-- <li>
                  <i class="agrikon-icon-telephone"></i>
                  <a href="tel:666-888-0000">666 888 0000</a>
                </li> -->
                <li>
                  <i class="agrikon-icon-email"></i>
                  <a href="mailto:needhelp@company.com"
                    >agentespopularesdesaudedocampo@gmail.com</a
                  >
                </li>
                
              </ul>
              <!-- /.list-unstyled -->
            </div>
            <!-- /.col-sm-12 col-md-6 col-lg-3 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </footer>
      <!-- /.site-footer -->
      <div class="bottom-footer">
        <div class="container">
          <p>© Copyright 2022 by SirCruX Studios</p>
        </div>
        <!-- /.container -->
      </div>
      <!-- /.bottom-footer -->
    </div>
    <!-- /.page-wrapper -->

    <div class="mobile-nav__wrapper">
      <div class="mobile-nav__overlay mobile-nav__toggler"></div>
      <!-- /.mobile-nav__overlay -->
      <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"
          ><i class="far fa-x"></i
        ></span>

        <div class="logo-box">
          <a href="/pagina/home" aria-label="logo image"
            ><img
              src="{% static 'assets/images/logo-light.png' %}"
              width="155"
              alt=""
          /></a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->

        
        <!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
          
          <!-- /.mobile-nav__social -->
        </div>
        <!-- /.mobile-nav__top -->
      </div>
      <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
      <div class="search-popup__overlay search-toggler"></div>
      <!-- /.search-popup__overlay -->
      <div class="search-popup__content">
        <form action="#">
          <label for="search" class="sr-only">Pesquisar aqui...</label
          ><!-- /.sr-only -->
          <input type="text" id="search" placeholder="Pesquisar aqui..." />
          <button type="submit" aria-label="search submit" class="thm-btn">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
      <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"
      ><i class="fa fa-angle-up"></i
    ></a>

    <script src="{% static 'assets/js/jquery-3.5.1.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/swiper.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.ajaxchimp.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap-select.min.js'%}"></script>
    <script src="{% static 'assets/js/wow.js'%}"></script>
    <script src="{% static 'assets/js/odometer.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.appear.min.js'%}"></script>
    <script src="{% static 'assets/js/jarallax.min.js'%}"></script>
    <script src="{% static 'assets/js/circle-progress.min.js'%}"></script>
    <script src="{% static 'assets/js/wNumb.min.js'%}"></script>
    <script src="{% static 'assets/js/nouislider.min.js'%}"></script>

    <!-- template js -->
    <script src="{% static 'assets/js/theme.js'%}"></script>
    <!-- vanilla zoom js -->
    <script src="{% static 'assets/vanillazoom/zoom-vanilla.min.js'%}"></script>
  </body>
</html>
